<div id="insightsAdvancedSearchModal">
	<form id="insightsAdvancedSearchForm">
	    <div class="columns large-12 medium-12 small-12">
	      <input id="keywordInput" type="text" name="s" placeholder="Name or Keyword">
	    </div>

	    <div class="columns large-6 medium-6 small-12">
	    	<select id="geographySelect" name="geography_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					GEOGRAPHIES
				</option>
				{% for geography in geographies %}
					<option value="{{ geography.slug|upper }}">
						{{ geography.name|upper }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="columns large-6 medium-6 small-12">	
			<select id="industrySelect" name="industry_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					INDUSTRIES
				</option>
				{% for industry in industries %}
					<option value="{{ industry.slug|upper }}">
						{{ industry.name|upper }}
					</option>
				{% endfor %}
			</select>
		</div>	
		<div class="columns large-6 medium-6 small-12">
			<select id="practiceSelect" name="practice_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					PRACTICES
				</option>
				{% for practice in practices %}
					<option value="{{ practice.slug|upper }}">
						{{ practice.name|upper }}
					</option>
				{% endfor %}
			</select>
	    </div>
		<div class="columns large-6 medium-6 small-12">
			<select id="languageSelect" name="language_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					LANGUAGES
				</option>
				{% for language in languages %}
					<option value="{{ language.slug|upper }}">
						{{ language.name|upper }}
					</option>
				{% endfor %}
			</select>
	    </div>
		<div class="columns large-6 medium-6 small-12">
			<select id="locationSelect" name="location_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					LOCATIONS
				</option>
				{% for location in locations %}
					<option value="{{ location.slug|upper }}">
						{{ location.name|upper }}
					</option>
				{% endfor %}
			</select>
	    </div>
	    <div class="columns large-6 medium-6 small-12">
			<select id="admissionSelect" name="admission_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					ADMISSIONS
				</option>
				{% for admission in admissions %}
					<option value="{{ admission.slug|upper }}">
						{{ admission.name|upper }}
					</option>
				{% endfor %}
			</select>
	    </div>
	    <div class="columns large-6 medium-6 small-12">
			<select id="educationSelect" name="education_query" class="clean___border insight inline__text grey__bold__text smaller">
				<option value="">
					EDUCATION
				</option>
				{% for education in educations %}
					<option value="{{ education.slug|upper }}">
						{{ education.name|upper }}
					</option>
				{% endfor %}
			</select>
	    </div>
		<div class="button__wrapper advanced__button columns large-12 small-12 medium-12 ">
			<button id="insightsAdvancedSearchButton" type="button" class="sites-button">
				Submit
			</button>
		</div>
	</form> 
</div>	