<div id="featuredImage" class ="featured-image__header--image-wrapper">
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row relative">
		{% if not unfiltered %}
			<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
				<a class="breadcrumb__link {{ breadcrumb_color }}" href="{{parent_link}}">BACK TO {{ parent_name|upper|replace('-', ' ') }}</a>
			</div>
		{% else %}	
			<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
				<a class="breadcrumb__link {{ breadcrumb_color }}" href="/insights">BACK TO INSIGHTS</a>
			</div>
		{% endif %}	
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					{% if unfiltered %}
						<h1 class="page__header {{ header_text_color }}">
							{{ header_text }}
						</h1>	
					{% elseif filtered_by_category %}						
						<h1 class="page__header {{ header_text_color }}">
							{{ tag|replace({'-' : ' ' })|title }}
						</h1>
					{% else %}
						<h1 class="page__header {{ header_text_color }}">
							Monthly Archives
						</h1>	
					{% endif %}	
				</div>
			</div>
		</div>	
	</div>
</div>
{# body - with sidebar #}
<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
	
	<div class="medium-3 large-2 small-12 columns no__pad">
		<div class="sidebar__wrapper">
			<h4 class="title__text smaller insights hide-for-small-only margin-bottom--0">
				Subscribe to Our Blogs
			</h4>
			{% if unfiltered %}
				{{ post.content|shortcodes }}
			{% else %}			
				{{ post.parent.content|shortcodes }}
			{% endif %}
			<span class="hide-for-small-only thick list-divider mobile__centered smaller grey"></span>
			<p class="tag__text medium mobile__centered">
				CATEGORIES
			</p>
			<select id="blogTagSelect" name="tag_query" class="clean___border inline__text grey__bold__text smaller {% if unfiltered %}unfiltered{% endif %} {% if monthly_archive %} monthly-archive {% endif %}">
				<option value="">
					CATEGORIES
				</option>
				{% for tag_option in all_tags_for_blog_posts %}
					{% if tag_option != ''%}
						<option value="{{ tag_option }}" {% if tag|upper|replace('-', ' ') == tag_option %}selected="selected"{% endif %}>
							{{ tag_option }}
						</option>
					{% endif %}	
				{% endfor %}
			</select>

			<div class="hide-for-small-only">
				<button id="clearCategoriesSidebar" class="desktop__full--width sites-button advanced-search inverse mobile__full--width" type="button">
					CLEAR CATEGORY
				</button>
			</div>
			<span class="list-divider mobile__centered smaller grey thick"></span>
			<p class="margin-top-20 tag__text medium mobile__centered">
				ARCHIVES
			</p>
			<select id="blogDateSelect" name="date_query" class="clean___border inline__text grey__bold__text smaller {% if unfiltered %}unfiltered{% endif %} {% if filtered_by_category %} filtered-by-category {% endif %}">
	            {% set dateValues = [] %}
	            {% set datePresenters = [] %}
	            {% for date in all_dates_for_blog_posts %}
	            	{{ date }}
	                {% set valueFormattedDate = date|date("mY")%}
	                {% set presentationFormattedDate = date|date("F, Y")%}
	                {% if valueFormattedDate not in dateValues %}
	                    {% set dateValues = dateValues|merge([valueFormattedDate]) %}
	                {% endif %}
	                {% if presentationFormattedDate not in datePresenters %}
	                    {% set datePresenters = datePresenters|merge([presentationFormattedDate]) %}
	                {% endif %}
	            {% endfor %}
	            <option value="">
	            	MONTH
	            </option>
                {% for i in datePresenters %}
                  <option value='{{ dateValues[loop.index0] }}' {% if date_query == dateValues[loop.index0] %}selected="selected"{% endif %}>
                      {{ datePresenters[loop.index0] }}
                  </option>
                {% endfor %}
        	</select>
			<span class="list-divider mobile__centered smaller thick grey"></span>
			<p class="margin-top-20 tag__text medium mobile__centered">
				CONTRIBUTORS
			</p>
			{% set category = TimberTerm(blog_title_category_id) %}
			{% set sidebar_blog_posts = category.get_posts({'numberposts' : -1, 'orderby' : 'date' }) %}
            {% set authors = [] %}
            {% for sidebar_blog_post in sidebar_blog_posts %}
            	{% for author in sidebar_blog_post.get_field('blog_authors') %}
                    {% if author not in authors %}
                    	{% set authors = authors|merge([author]) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}		
			{% for author in authors %}
				{% set author = author|first %}
	            <div class="columns large-12 medium-12 small-12 no__pad {% if loop.last %} last float-left {%endif %}">
	            	<a class="tag__text red link" href="{{ TimberPost(author).link }}">
	              		{{ author.first_name|upper }} {% if author.middle_initial %}{{ author.middle_initial }}. {% endif %}{{ author.last_name|upper }} 
	            	</a>
	            </div>	
			{% endfor %}	
		</div>

			<div class="social-share social-icons align__left">	
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.29 38.3"><title>linkedin</title><g id="Layer_2" data-name="Layer 2"><g id="linkedin-1" data-name="Layer 1"><rect x="0.76" y="12.77" width="7.9" height="25.54"/><ellipse cx="4.67" cy="4.71" rx="4.67" ry="4.71"/><path d="M21.3,24.9c0-3.59,1.65-5.73,4.82-5.73,2.91,0,4.3,2.05,4.3,5.73V38.3h7.87V22.13C38.29,15.29,34.41,12,29,12a8.91,8.91,0,0,0-7.7,4.22V12.77H13.72V38.3H21.3Z"/></g></g></svg>
				</a>
  			
  			<a href="mailto:?subject=&body=:%20" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 42"><defs><style>.cls-2{fill:none;stroke:#b91628;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>reply</title><g id="Layer_2" data-name="Layer 2"><g id="icons"><polygon class="cls-2" points="47 33 23 33 15 41 15 33 1 33 1 1 47 1 47 33"/></g></g></svg></a>
				

				<a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.7 33.08"><title>twitter</title><g id="Layer_2" data-name="Layer 2"><g id="twitter-path" data-name="Layer 1"><path d="M0,29.32a23.63,23.63,0,0,0,12.8,3.75C28.3,33.08,37.06,20,36.53,8.24A17,17,0,0,0,40.7,3.91a16.68,16.68,0,0,1-4.8,1.31A8.37,8.37,0,0,0,39.57.61a16.7,16.7,0,0,1-5.3,2A8.36,8.36,0,0,0,20,10.25,23.7,23.7,0,0,1,2.83,1.53,8.36,8.36,0,0,0,5.42,12.68a8.32,8.32,0,0,1-3.78-1,8.36,8.36,0,0,0,6.7,8.29,8.37,8.37,0,0,1-3.77.14,8.36,8.36,0,0,0,7.8,5.8A16.78,16.78,0,0,1,0,29.32Z"/></g></g></svg>
				</a>
				
				<a href="/feed/?post_type=alert" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.46 38.51"><title>rss</title><g id="Layer_2" data-name="Layer 2"><g id="rss-share" data-name="Layer 1"><path d="M0,0V7.72a30.67,30.67,0,0,1,21.7,9,30.67,30.67,0,0,1,9,21.75h7.72A38.6,38.6,0,0,0,0,0Z"/><circle cx="5.21" cy="33.3" r="5.21"/><path d="M0,13.12v7.72A17.87,17.87,0,0,1,17.66,38.51h7.72A25.57,25.57,0,0,0,0,13.12Z"/></g></g></svg>
				</a>		

				<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.31 46.17"><title>facebook</title><g id="Layer_2" data-name="Layer 2"><g id="facebook-share" data-name="Layer 1"><path d="M4.83,46.17h9.3V22.89h6.49l.69-7.79H14.13V10.65c0-1.84.37-2.57,2.15-2.57h5V0H14.87C8,0,4.83,3,4.83,8.88v6.21H0V23H4.83Z"/></g></g></svg>
				</a>
			</div>
	</div>

	<div class="columns no__pad medium-8 large-9 small-12 mobile-margin-top-20">
		<div class="columns small-12 medium-12 large-12 no__pad desktop-only">	
			{% if monthly_archive %}
				<div class="row">
					<p class="title__text">
						Filtered by Month
					</p>
				</div>	
				<div class="row">
					<div class="no__pad columns large-12 medium-12 small-12">
						<div class="no__pad columns large-6 medium-6 small-12 last float-left">
							<select id="blogDateSelectCenterContent" name="date_query" class="clean___border inline__text grey__bold__text smaller {% if unfiltered %}unfiltered{% endif %}">
			                {% for i in datePresenters %}
			                  <option value='{{ dateValues[loop.index0] }}' {% if date_query == dateValues[loop.index0] %}selected="selected"{% endif %}>
			                      {{ datePresenters[loop.index0] }}
			                  </option>
			                {% endfor %}
							</select>
						</div>
					</div>	
				</div>	
			{% endif %}	
			<div class="row">
				<div class="margin-top-20">
			{# 		{% if posts_by_date_args %}	
						{% set blog_posts = category.get_posts(posts_by_date_args) %}
					{% else %}
						{% set blog_posts = category.get_posts({'numberposts' : -1, 'orderby' : 'date', 'tag' : tag, 'posts_per_page': 5, 'paged': 1 }) %}
					{% endif %} #}
					
					{% for blog_post in blog_posts %}
						<div class="blog-post__list-item--wrapper">
							{% if blog_post.thumbnail %}
								<img class="blog-post__list-item--image" src="{{ blog_post.thumbnail.src }}">
							{% endif %}
							<div class="inline__wrapper mobile__centered {% if blog_post.thumbnail %} blog__titles {% endif %}">
								<p class="title__text smaller mobile__centered">
									<a class="link black" href="{{ TimberPost(blog_post).link}}">
										{{blog_post.title}}	
									</a>
								</p>
								{% if blog_post.blog_authors %}	
											<p class="body__text smaller mobile__centered">
												BY
												{% set authors = blog_post.get_field('blog_authors')%}
												{% for author in authors %}
													{% set author = author|first %}
														<a href="{{ TimberPost(author).link}}">{{ author.first_name|upper }} {{ author.last_name|upper }}{% if not loop.last %},{% endif %}</a>
												{% endfor %}
											</p>
								{% endif %}
								<span class="list-divider mobile__centered red smaller thick"></span>
								<p class="tag__text grey mobile__centered">
									{{ blog_post.date }}
								</p>
							</div>	
						</div>

						<span class="page__divider grey thin"></span>
					{% endfor %}
				</div>
						<div class="pagination-centered">
					   
					    <ul class="pagination">
					    		 {% if pagination.prev %}
					        	<li><a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"> << </a></li>
					    		{% endif %}
					        {% for page in pagination.pages %}
					            <li>
					                {% if page.link %}
					                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					                {% else %}
					                    <a class="{{page.class}}">{{page.title}}</a>
					                {% endif %}
					            </li>
					        {% endfor %}
					    
					    {% if pagination.next %}
					        <li><a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}"> >> </a></li>
					    {% endif %}
					    </ul>
					</div>	
			</div>	
		</div>
	</div>
</div>

<div class="grey__background columns small-12 padding__wrapper twenty show-for-small-only">
	<div class="insights__bottom--mobile-wrapper">
		<div class="table__wrapper margin__auto">
			<div class="table__inner">
				<h4 class="title__text smaller insights margin-bottom--0">
					Subscribe to our Blogs
				</h4>
				{% if unfiltered %}
					{{ post.parent.content|shortcodes }}					
				{% else %}
					{{ post.content|shortcodes }}
				{% endif %}
				<span class="list-divider mobile mobile__centered smaller"></span>
			</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>