<div id="featuredImage" class ="featured-image__header--image-wrapper" >

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ careers_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row careers__wrapper body__wrapper columns small-12 medium-12 large-12">
	<div class="columns show-for-medium-up medium-3 large-2">
		<div class="columns medium-3 large-2 small-12 sidebar__on-scroll--fixed">
			<div class="padding__wrapper ten sides__only">
				{# DESKTOP SIDEBAR HEADER #}
				<h4 class="red title__text smaller hide-for-small-only">
					<a class="red link inline__link" href="/experience">
						{{ careers_sidebar_header }}
					</a>
				</h4>
				{# MOBILE SIDEBAR HEADER #}
				<h4 class="show-for-small-only accordion__trigger red list__header mobile" data-trigger-target="sidebarMobileAccordion">
					<a class="red link inline__link" href="/experience">
						{{ careers_sidebar_header }}
					</a>
				</h4>
				<span class="show-for-small-only expander top__menu" data-show-target="sidebarMobileAccordion" ></span>
				{# DESKTOP SIDEBAR LIST DIVIDER #}
				<span class="list-divider hide-for-small-only"></span>
				{# MOBILE SIDEBAR LIST DIVIDER #}
				<span class="list-divider mobile show-for-small-only"></span>
				
				<div class="sidebar-items__wrapper">
				    {% for sidebar_item in careers_sidebar_items %}
						{# DESKTOP MENU ITEMS #}
				    	<a class="hide-for-small-only link sidebar__link" href="{{ sidebar_item.careers_sidebar_item_link }}">
				    		{{ sidebar_item.careers_sidebar_item_text|upper }}
				    	</a>
					{# MOBILE MENU ITEMS #}
						<a class="show-for-small-only link sidebar__link mobile {% if loop.last %} last-sidebar__link{% endif %}" href="{{ sidebar_item.careers_sidebar_item_link }}">
				    		{{ sidebar_item.careers_sidebar_item_text|upper }}
				    	</a>
				    {% endfor %}
				</div>    
			</div>
		</div>
	</div>
	<div class="columns show-for-medium-up medium-9 large-10">
		<p class="title__text">
			{{ careers_top_text }}
		</p>
		<br>
		<p class="body__text">
			{{ careers_tiles_header }}
		</p>
		<div class="first experience-tile__outer-wrapper columns small-12 medium-3 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_one_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_one }}
						</h3>
					</a>
					<a href="{{ careers_tile_one_link }}">
						<span class="tile__arrow">
							<img src="{{hover_arrow}}">
						</span>
					</a>	
				</div>
			</div>
		</div>
		<div class="middle experience-tile__outer-wrapper columns small-12 medium-3 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_two_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_two }}
						</h3>
					</a>
					<a href="{{ careers_tile_two_link }}">
						<span class="tile__arrow">
							<img src="{{hover_arrow}}">
						</span>
					</a>	
				</div>
			</div>
		</div>
		<div class="middle experience-tile__outer-wrapper columns small-12 medium-3 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_three_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_three }}
						</h3>
					</a>
					<a href="{{ careers_tile_three_link }}">
						<span class="tile__arrow">
							<img src="{{hover_arrow}}">
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="last experience-tile__outer-wrapper columns small-12 medium-3 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_four_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_four }}
						</h3>
					</a>
					<a href="{{ careers_tile_three_link }}">
						<span class="tile__arrow">
							<img src="{{hover_arrow}}">
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bottom-banner__cta--outer-wrapper">
	<div class="bottom-banner__cta--inner-wrapper table__wrapper">
		<div class="bottom-banner__text--wrapper table__inner tag__text">
			<p class="inline__text margin-bottom--0">
				EEOE STATEMENT
				<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
					<title>long arrow</title>
					<line class="long__arrow white" x1="1" y1="9" x2="56" y2="9"/>
					<polyline class="long__arrow white" points="48 1 56 9 48 17"/>
				</svg>
			</p>
		</div>	
	</div>
</div>
<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>