<div id="featuredImage" class ="featured-image__header--image-wrapper" >

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ careers_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row careers__wrapper body__wrapper columns small-12 medium-12 large-12">
	{% include '/twig-templates/sidebar.twig' with sidebar %}
	<div class="columns show-for-medium-up medium-9 large-10">
		<p class="title__text">
			{{ careers_top_text }}
		</p>
		<br>
		<p class="body__text">
			{{ careers_tiles_header }}
		</p>
		<div class="first experience-tile__outer-wrapper columns small-12 medium-6 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_one_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_one }}
						</h3>
					</a>
					<a href="{{ careers_tile_one_link }}">
						<span class="tile__arrow">
							<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
								<title>long arrow</title>
								<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
								<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
							</svg>
						</span>
					</a>	
				</div>
			</div>
		</div>
		<div class="middle experience-tile__outer-wrapper columns small-12 medium-6 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_two_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_two }}
						</h3>
					</a>
					<a href="{{ careers_tile_two_link }}">
						<span class="tile__arrow">
							<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
								<title>long arrow</title>
								<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
								<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
							</svg>
						</span>
					</a>	
				</div>
			</div>
		</div>
		<div class="middle experience-tile__outer-wrapper columns small-12 medium-6 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_three_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_three }}
						</h3>
					</a>
					<a href="{{ careers_tile_three_link }}">
						<span class="tile__arrow">
							<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
								<title>long arrow</title>
								<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
								<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="last experience-tile__outer-wrapper columns small-12 medium-6 large-3">
			<div class="experience-tile__wrapper">
				<div class="experience-tile__inner-wrapper relative">
					<a class="link red" href="{{ careers_tile_four_link }}">
						<h3 class="title tile text-align__center margin-bottom--0">
							{{ careers_tile_four }}
						</h3>
					</a>
					<a href="{{ careers_tile_three_link }}">
						<span class="tile__arrow">
							<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
								<title>long arrow</title>
								<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
								<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
<div id="diversityModalTrigger" class="bottom-banner__cta--outer-wrapper">
	<div class="bottom-banner__cta--inner-wrapper table__wrapper">
		<div class="bottom-banner__text--wrapper table__inner tag__text bold__wide__spacing inline__eeoe">
			<p class="inline__text margin-bottom--0 eeoe__half">
				EEOE STATEMENT
				
			</p>
			<svg class="long__arrow--svg eeoe__half" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
					<title>long arrow</title>
					<line class="long__arrow white" x1="1" y1="9" x2="56" y2="9"/>
					<polyline class="long__arrow white" points="48 1 56 9 48 17"/>
				</svg>
		</div>	
	</div>
</div>
<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>