<div id="featuredImage" class ="featured-image__header--image-wrapper" >

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ contact_us_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>

	<div class="columns small-12 medium-12 large-12 x-large-12">
		{{ post.post_content|shortcodes }}
	</div>


<div id="contactUsBottomImage">
	<div class="row">
		<div class="table__wrapper pro-bono__banner">
		    <div class="table__inner pro-bono__banner">
		        <div class="color-block__wrapper large-6 medium-8 small-12 float--right">
		          <div class="color__block white relative">
		            <div class="slide-description">
		            	<h4 class="tag__text bigger red">
		                	{{ bottom_banner_header_text|upper }}
		            	</h4>
		            </div>
					<span class="list-divider about__deatils red"></span>
		            <p class="title__text black">
		            	{{ bottom_banner_content_text }}
		            </p>
					<a href="{{ locations_bottom_banner_link_url }}">
						<span class="tile__arrow pro-bono">
							<img src="{{hover_arrow}}">
						</span>
					</a>     
		          </div>  
		        </div>
	        </div>
		</div>
	</div>	
</div>



<script type="text/javascript">
	{% if banner_image %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{banner_image}}");
		})
	{% endif %}
	{% if bottom_banner_image %}
		$(document).ready(function(){
			$('#contactUsBottomImage').backstretch("{{bottom_banner_image}}");
		})
	{% endif %}
</script>