<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div id="featuredImage" class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ diversity_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-8 large-10 float--right">
			<div class="columns small-12 medium-12 large-12">
				<p class="title__text">
					{{ diversity_top_content }}
				</p>

				<p class="body__text">
					{{ post.content }}
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-9 large-10">
			<div class="columns small-12 medium-12 large-12">
				<iframe width="100%" height="auto" frameborder="0"
					src="{{ diversity_video_url }}">
				</iframe>
			</div>
		</div>
	</div>
</div>

{% if diversity_efforts|length > 0%}	
	<div class="grey__background experience__wrapper small-12 medium-12 large-12 relative">
		<div class="row padding__wrapper top-and-bottom sixty relative">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12 white__background about__bullets--wrapper relative">
				<p class="title__text">
					{{ diversity_efforts_header }}
				</p>
				{% for effort in diversity_efforts %}
					{# {% set effort = effort|first %} #}
					<div class="medium-12 large-12 small-12 service">
						<div class="padding__wrapper twenty sides__only">
							<div class="body__text service__text">
								{{ effort.effort }}
							</div>
						</div>
					</div>	
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}

<div id="diversityModalTrigger" class="bottom-banner__cta--outer-wrapper relative hide-for-small-only">
	<div class="bottom-banner__cta--inner-wrapper table__wrapper relative">
		<div class="bottom-banner__text--wrapper table__inner tag__text relative">
			<p class="inline__text margin-bottom--0">
				FOR MORE INFORMATION PLEASE SEE OUR EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER STATEMENT
				{# <svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
					<title>long arrow</title>
					<line class="long__arrow white" x1="1" y1="9" x2="56" y2="9"/>
					<polyline class="long__arrow white" points="48 1 56 9 48 17"/>
				</svg> #}
			</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		{% if banner_image|length > 0 %}
			$('#featuredImage').backstretch("{{ banner_image }}");
		{% endif %}
	})
</script>