<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div id="featuredImage" class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ diversity_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		<div class="columns show-for-medium-up medium-3 large-2 sidebar__on-scroll--fixed">
			<div class="padding__wrapper ten sides__only">
				<h4 class="red title__text smaller">
					{{ about_sidebar_header }}
				</h4>
				<span class="list-divider"></span>
				{% for about_sidebar_item in about_sidebar_items %}
			    	{% set link_slug = about_sidebar_item.about_sidebar_item_link|split('/')[3] %}
			    	<a class="{% if slug == link_slug %}red{% endif %} link sidebar__link" href="{{ about_sidebar_item.about_sidebar_item_link }}">
			    		{{ about_sidebar_item.about_sidebar_item_text|upper }}
			    	</a>
			    {% endfor %}
			</div>
		</div>	
		<div class="columns small-12 medium-9 large-10 float--right">
			<div class="columns small-12 medium-12 large-12">
				<p class="title__text">
					{{ diversity_top_content }}
				</p>

				<p class="body__text">
					{{ post.content }}
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-9 large-10">
			<div class="columns small-12 medium-12 large-12">
				<iframe width="100%" height="auto"
					src="{{ diversity_video_url }}">
				</iframe>
			</div>
		</div>
	</div>
</div>



{% if diversity_efforts|length > 0%}	
	<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
		<div class="row padding__wrapper top-and-bottom sixty">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12 white__background about__bullets--wrapper">
				<p class="tag__text bigger">
					{{ diversity_efforts_header }}
				</p>
				{% for effort in diversity_efforts %}
					{# {% set effort = effort|first %} #}
					<div class="medium-6 large-6 small-12 service">
						<div class="padding__wrapper twenty sides__only">
							<div class="body__text service__text">
								{{ effort.effort }}
							</div>
						</div>
					</div>	
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}

<script type="text/javascript">
	$(document).ready(function(){
		{% if banner_image|length > 0 %}
			$('#featuredImage').backstretch("{{ banner_image }}");
		{% endif %}
		var visitedDiversity = BR_COOKIES.readCookie("visitedDiversity");
		if ( visitedDiversity !== "true" ) {
			BR_COOKIES.visitDiversity();
			BR_COOKIES.showDiversityModal();
		}
	})
</script>