<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div id="featuredImage" class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ diversity_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		<div class="columns medium-3 large-2 small-12 sidebar__on-scroll--fixed">
			<div class="padding__wrapper ten sides__only">
				{# DESKTOP SIDEBAR HEADER #}
				<h4 class="red title__text smaller hide-for-small-only">
					{{ about_sidebar_header }}
				</h4>
				{# MOBILE SIDEBAR HEADER #}
				<h4 class="show-for-small-only accordion__trigger red list__header mobile" data-trigger-target="sidebarMobileAccordion">
					{{ about_sidebar_header }}
				</h4>
				<span class="show-for-small-only expander top__menu" data-show-target="about_sidebar_item_link" ></span>
				{# DESKTOP SIDEBAR LIST DIVIDER #}
				<span class="list-divider hide-for-small-only"></span>
				{# MOBILE SIDEBAR LIST DIVIDER #}
				<span class="list-divider mobile show-for-small-only"></span>
				
				<div class="sidebar-items__wrapper">
				    {% for sidebar_item in about_sidebar_items %}
			    		{% set link_slug = sidebar_item.about_sidebar_item_link|split('/')[3] %}
				    	{% if sidebar_item.has_sub_menu %}
						{# DESKTOP SUBMENU ITEMS #}
							<a class="{% if slug == link_slug %}red{% endif %} hide-for-small-only accordion__trigger link" data-trigger-target="{{sidebar_item.about_sidebar_submenu_accordion_trigger }}">
								{{ sidebar_item.about_sidebar_item_text|upper }}
							</a>
							<ul id="blogsSidebarAccordion" class="hidden list-style__none hide-for-small-only">
								{% for sidebar_submenu_item in sidebar_item.about_sidebar_submenu %}
									<li class="list-item__sidebar">
										<a class="link sidebar__link" href="{{ sidebar_submenu_item.about_sidebar_submenu_item_link }}" >
											{{ sidebar_submenu_item.about_sidebar_submenu_item_text }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{# MOBILE SUBMENU ITEMS #}
							<a class="show-for-small-only accordion__trigger red list__header" data-trigger-target="aboutSidebarAccordionMobile">
								{{ sidebar_item.about_sidebar_item_text }}
							</a>
							<ul id="aboutSidebarAccordionMobile" class="mobile__sidebar--menu list-style__none show-for-small-only">
								{% for sidebar_submenu_item in sidebar_item.about_sidebar_submenu %}
									<li class="list-item__sidebar">
										<a class="{% if slug == link_slug %}red{% endif %} link sidebar__link" href="{{ sidebar_submenu_item.about_sidebar_submenu_item_link }} mobile" >
											{{ sidebar_submenu_item.about_sidebar_submenu_item_text }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
						{# DESKTOP MENU ITEMS #}
					    	<a class="{% if slug == link_slug %}red{% endif %} hide-for-small-only link sidebar__link" href="{{ sidebar_item.about_sidebar_item_link }}">
					    		{{ sidebar_item.about_sidebar_item_text|upper }}
					    	</a>
						{# MOBILE MENU ITEMS #}
							<a class="{% if slug == link_slug %}red{% endif %} show-for-small-only link sidebar__link mobile {% if loop.last %} last-sidebar__link{% endif %}" href="{{ sidebar_item.about_sidebar_item_link }}">
					    		{{ sidebar_item.about_sidebar_item_text|upper }}
					    	</a>
						{% endif %}
				    {% endfor %}
				</div>    
			</div>
		</div>
		<div class="columns small-12 medium-9 large-10 float--right">
			<div class="columns small-12 medium-12 large-12">
				<p class="title__text">
					{{ diversity_top_content }}
				</p>

				<p class="body__text">
					{{ post.content }}
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-9 large-10">
			<div class="columns small-12 medium-12 large-12">
				<iframe width="100%" height="auto"
					src="{{ diversity_video_url }}">
				</iframe>
			</div>
		</div>
	</div>
</div>

{% if diversity_efforts|length > 0%}	
	<div class="grey__background experience__wrapper columns small-12 medium-12 large-12 scroll-stopper">
		<div class="row padding__wrapper top-and-bottom sixty">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12 white__background about__bullets--wrapper">
				<p class="tag__text bigger">
					{{ diversity_efforts_header }}
				</p>
				{% for effort in diversity_efforts %}
					{# {% set effort = effort|first %} #}
					<div class="medium-12 large-12 small-12 service">
						<div class="padding__wrapper twenty sides__only">
							<div class="body__text service__text">
								{{ effort.effort }}
							</div>
						</div>
					</div>	
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}

<script type="text/javascript">
	$(document).ready(function(){
		{% if banner_image|length > 0 %}
			$('#featuredImage').backstretch("{{ banner_image }}");
		{% endif %}

		var visitedDiversity = BR_COOKIES.readCookie("visitedDiversity");
		if ( visitedDiversity !== "true" ) {
			BR_COOKIES.visitDiversity();
			BR_COOKIES.showDiversityModal();
		}
	})
</script>