<div id="featuredImage" class ="featured-image__header--image-wrapper" >
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-outer-wrapper row">
		<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
			<a class="breadcrumb__link {{ breadcrumb_color }}" href="/careers">{{ "careers"|upper }}</a> / <a class="breadcrumb__link {{ breadcrumb_color }}" href="/law-students">{{ "law-students"|upper }}</a>
		</div>
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>
</div>


{% if hiring_committee_members %}
	<div class="row margin-top-60 columns margin-bottom-60">
		{% for member in hiring_committee_members %}	
			<div class="medium-unstack small-12 medium-4 large-4 columns margin-top-20 margin-bottom--20">
				
				<a class="link title__text" href="{{TimberPost(member).link}}">
					<p>
						{{ member.first_name}} {% if member.middle_initial %}{{ member.middle_initial }}. {% endif %} {{member.last_name}}{% if member.is_hiring_committee_chair == true %}, Chair {% endif %}
					</p>
				</a>
				<p class="bold__wide__spacing">
					{{ member.specialization }}
				</p>
				<div class="hiring-divider margin-bottom--20"></div>
				{% if  member.primary_phone_number %}
					<p class="body__text">
						P: {{member.primary_phone_number}}
					</p>
				{% endif %}
				{% if  member.fax_number %}
					<p class="body__text">
						F: {{ member.fax_number }}
					</p>
				{% endif %}
				<a class="red inline__link link email--people--link">
					{{member.email}}
				</a>
			</div>
			{# add hr after every third person #}
			{% if loop.index is divisible by(3) %}
				<hr>
			{% endif %}
		{% endfor %}
		<div class="row margin-top-60 columns margin-bottom-60">
		{{ recruitment_manager }}
		</div>
	</div>
{% endif %}

{% include '/template-parts/email-notice.twig' %}

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>