<div class="human-icon" data-toggle="offCanvas"></div>
<div class ="homepage-full" style="background-image: url({{homepage_section_3_image}});"  >
  <div class="slide__content--outer-wrapper">
    <div class="slide__content--inner-wrapper">
        <div class="color-block__wrapper large-6 medium-8 small-12">
          <div class="color-block vellum">
            <div class="slide-description homepage__lower__section">
              <h4 class="homepage-section-3-title">
                {{ homepage_section_3_header }}
              </h4>
              <div class="slide-description-heading red"></div>
                <p class="body-text hero title__text smaller">
                  {{ homepage_section_3_description }}
                </p>
            </div>
            
            <a href="{{homepage_section_3_button_link}}">
              <button class="home-button sites-button" href="{{homepage_section_3_button_link}}">
                Learn More
              </button>
            </a>      
          </div>  
        </div>
      </div>
  </div>
</div>


