<div id="featuredImage" class ="insight featured-image__header--image-wrapper">
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row relative">
		<div class="breadcrumb__wrapper {{ header_text_color }}">
			<a class="breadcrumb__link {{ header_text_color }}" href="{{parent_page_url}}">BACK TO {{ parent_page_name|upper }}</a>
		</div>
	{# hero header #}
		<div class="featured-image__header--text-wrapper person">
			<div class="featured-image__header--text-inner-wrapper person">
				<div class="people__details--outer-wrapper person">
					<div class="people__details--inner-wrapper">
						<div class="no__pad columns medium-12 large-12 small-12 relative">
							<div class="inline__wrapper padding__right--50-desktop insight relative">
								<div class="insight table__wrapper">
									<div class="table__inner">
										<img class="insight__details" src="{{ featured_image_url }}"/>
									</div>
								</div>
							</div>
							<div class="inline__wrapper insight relative">
								<div class="table__wrapper insight">
									<div class="table__inner">
										<p class="people__details title__text insight mobile__centered">
											{{ post.title }}
										</p>
										{% if post.blog_authors %}	
										<span class="insight__deatils list-divider red mobile__centered"></span>
											<p class="body__text mobile__centered">
												Authors:
												{% set authors = post.get_field('blog_authors')%}
												{% for author in authors %}
													{% set author = author|first %}
														<a href="{{ TimberPost(author).link}}">{{ author.first_name }} {{ author.last_name }}{% if not loop.last %},{% endif %}</a>
												{% endfor %}
											</p>
										{% endif %}
										<p class="body__text mobile__centered">
											Date: {{ post.date}}
										</p>
									</div>	
								</div>	
							</div>	
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>


	{# body - with sidebar #}
<div class="row columns">
	<div class="no__pad columns small-12 medium-12 large-12 margin-bottom--40 margin-top-40">
		<div class="body__text ">
			{{ post.post_content }}
		</div>
		<div class="social-share  text-align__center">	
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.29 38.3"><title>linkedin</title><g id="Layer_2" data-name="Layer 2"><g id="linkedin-1" data-name="Layer 1"><rect x="0.76" y="12.77" width="7.9" height="25.54"/><ellipse cx="4.67" cy="4.71" rx="4.67" ry="4.71"/><path d="M21.3,24.9c0-3.59,1.65-5.73,4.82-5.73,2.91,0,4.3,2.05,4.3,5.73V38.3h7.87V22.13C38.29,15.29,34.41,12,29,12a8.91,8.91,0,0,0-7.7,4.22V12.77H13.72V38.3H21.3Z"/></g></g></svg>
				</a>
  			
  			<a href="mailto:?subject=&body=:%20" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 42"><defs><style>.cls-2{fill:none;stroke:#b91628;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>reply</title><g id="Layer_2" data-name="Layer 2"><g id="icons"><polygon class="cls-2" points="47 33 23 33 15 41 15 33 1 33 1 1 47 1 47 33"/></g></g></svg></a>
				

				<a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.7 33.08"><title>twitter</title><g id="Layer_2" data-name="Layer 2"><g id="twitter-path" data-name="Layer 1"><path d="M0,29.32a23.63,23.63,0,0,0,12.8,3.75C28.3,33.08,37.06,20,36.53,8.24A17,17,0,0,0,40.7,3.91a16.68,16.68,0,0,1-4.8,1.31A8.37,8.37,0,0,0,39.57.61a16.7,16.7,0,0,1-5.3,2A8.36,8.36,0,0,0,20,10.25,23.7,23.7,0,0,1,2.83,1.53,8.36,8.36,0,0,0,5.42,12.68a8.32,8.32,0,0,1-3.78-1,8.36,8.36,0,0,0,6.7,8.29,8.37,8.37,0,0,1-3.77.14,8.36,8.36,0,0,0,7.8,5.8A16.78,16.78,0,0,1,0,29.32Z"/></g></g></svg>
				</a>
				
				<a href="/feed/?post_type=alert" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.46 38.51"><title>rss</title><g id="Layer_2" data-name="Layer 2"><g id="rss-share" data-name="Layer 1"><path d="M0,0V7.72a30.67,30.67,0,0,1,21.7,9,30.67,30.67,0,0,1,9,21.75h7.72A38.6,38.6,0,0,0,0,0Z"/><circle cx="5.21" cy="33.3" r="5.21"/><path d="M0,13.12v7.72A17.87,17.87,0,0,1,17.66,38.51h7.72A25.57,25.57,0,0,0,0,13.12Z"/></g></g></svg>
				</a>		

				{}

				<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?m2w?u&amp;src=src={{link_url}}">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.31 46.17"><title>facebook</title><g id="Layer_2" data-name="Layer 2"><g id="facebook-share" data-name="Layer 1"><path d="M4.83,46.17h9.3V22.89h6.49l.69-7.79H14.13V10.65c0-1.84.37-2.57,2.15-2.57h5V0H14.87C8,0,4.83,3,4.83,8.88v6.21H0V23H4.83Z"/></g></g></svg>
				</a>
			</div>

	</div>
</div>

<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
	<div class="row padding__wrapper top-and-bottom sixty">
		<div class="no__pad columns large-12 medium-12 small-12">
			<p class="title__text">
				Comments
			</p>
			{% if comments|length > 0 %}
				{% for comment in comments %}
					<div class="{% if loop.first %}{% else %} margin-top-20 {% endif %}no__pad columns large-12 medium-12 small-12">
						<p class="tag__text inline__text">
							<span class="tag__text black inline__text">
								{{ comment.comment_author|upper }}
							</span>	
							<span class="tag__text grey inline__text">
								{{ comment.date|date('m/d/y') }}
							</span>
						</p>
						<p class="body__text">
							{{ comment.comment_content }}
						</p>
						<span class="page__divider white"></span>
					</div>	
				{% endfor %}	
			{% endif %}
			<div class="no__pad columns small-12 medium-12 large-12">
				<p class="title__text">
					Add Comment
				</p>
			</div>
			<form action="{{site.url}}/wp-comments-post.php" method="post" id="commentform">
        <div clas="row">
        	<div class="comment__form--half">
              <p>
                  <label for="author">{{__('Name','timber-foundation')}}</label>
                  <input type="text" class="five" name="author" id="author" value="{{comment_author|e}}" size="22" tabindex="1" aria-required='true' />
              </p>
        	</div>  
        </div>
        <div class="no__pad columns small-12 medium-12 large-12">    
            <p>
                <label for="comment">{{__('Comment', 'timber-foundation')}}</label>
                <textarea name="comment" id="comment" tabindex="3"></textarea>
            </p>
          	<p>
          		<input name="submit" class="sites-button" type="submit"  tabindex="5" value="{{__('POST','timber-foundation')|e}}">
          	</p>
        </div>   
          {{fn('comment_id_fields')}}
          {% do action( 'comment_form', post.id ) %}
      </form>
		</div>
	</div>
</div>