<div class="medium-3 large-2 small-12 columns no__pad">
	{% set sidebar = sidebar|first %}
	{% if parent_link %}
		{# DESKTOP SIDEBAR HEADER #}
		<a href="{{ parent_link }}" class="{% if slug == sidebar.sidebar_header|lower %}red{% endif %} title__text smaller hide-for-small-only list__header">
			{{ sidebar.sidebar_header }}
		</a>
		{# MOBILE SIDEBAR HEADER #}
		<div class="padding__wrapper twenty sides__only">
			<a href="{{ parent_link }}" class="show-for-small-only {% if slug == header_link_slug %}red{% endif %} mobile list__header">
				{{ sidebar.sidebar_header }}
			</a>
		</div>	
	{% else %}
		{# DESKTOP SIDEBAR HEADER #}
		<h4 class="{% if slug == sidebar.sidebar_header|lower  %}red{% endif %} title__text smaller hide-for-small-only list__header">
			{{ sidebar.sidebar_header }}
		</h4>
		{# MOBILE SIDEBAR HEADER #}
		<div class="padding__wrapper twenty sides__only">
			<h4 class="show-for-small-only {% if slug == header_link_slug %}red{% endif %} mobile list__header">
				{{ sidebar.sidebar_header }}
			</h4>
		</div>	
	{% endif %}

	{% set sidebar_links = TimberPost(sidebar).get_field('sidebar_links') %}
	<span class="show-for-small-only mobile__sidebar--expander top__menu" data-show-target="sidebarMobileAccordion"></span>
	{# DESKTOP SIDEBAR LIST DIVIDER #}
	<span class="list-divider hide-for-small-only"></span>
	{# MOBILE SIDEBAR LIST DIVIDER #}
	<span class="list-divider mobile show-for-small-only"></span>
	
	<div id="desktopMobileAccordion" class="sidebar-items__wrapper hide-for-small-only">
	    {% for sidebar_item in sidebar_links %}
    		{% set link_slug = sidebar_item.link_url|split('/')[4] %}
			{# DESKTOP MENU ITEMS #}
	    	{% if sidebar_item.has_sub_links %}
				<a class="sidebar__link medium__weight__spacin hide-for-small-only accordion__trigger link" data-trigger-target="blogsSidebarAccordion">
					{{ sidebar_item.link_text|upper }}
				</a>
				<ul id="blogsSidebarAccordion" class="hidden list-style__none hide-for-small-only">
					{% for sidebar_submenu_item in sidebar_item.sidebar_sub_links %}
						<li class="list-item__sidebar">
							<a class="medium__weight__spacing link text-align__center" href="{{ sidebar_submenu_item.sidebar_sub_link_url }}" >
								{{ sidebar_submenu_item.sidebar_sub_link_text }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
	    		{% set link_slug = sidebar_item.link_url|split('/')[4] %}
				{# DESKTOP MENU ITEMS - no submenu #}
		    	<a class="medium__weight__spacing {% if slug == link_slug %}red{% endif %}  link sidebar__link" href="{{ sidebar_item.link_url }}">
		    		{{ sidebar_item.link_text|upper }}
		    	</a>
		    {% endif %}	
	    {% endfor %}
	</div>
	<div id="sidebarMobileAccordion" class="sidebar-items__wrapper show-for-small-only">
	    {% for sidebar_item in sidebar_links %}
    		{% set link_slug = sidebar_item.link_url|split('/')[4] %}
			{# Mobile MENU ITEMS #}
	    	{% if sidebar_item.has_sub_links %}
				<a class="mobile sidebar__link medium__weight__spacing accordion__trigger link" data-trigger-target="blogsMobileSidebarAccordion">
					{{ sidebar_item.link_text|upper }}
				</a>
				<ul id="blogsMobileSidebarAccordion" class="hidden list-style__none">
					{% for sidebar_submenu_item in sidebar_item.sidebar_sub_links %}
						<li class="list-item__sidebar">
							<a class="medium__weight__spacing link text-align__center" href="{{ sidebar_submenu_item.sidebar_sub_link_url }}" >
								{{ sidebar_submenu_item.sidebar_sub_link_text }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
	    		{% set link_slug = sidebar_item.link_url|split('/')[4] %}
				{# Mobile MENU ITEMS - no submenu #}
		    	<a class="medium__weight__spacing {% if slug == link_slug %}red{% endif %} link mobile sidebar__link" href="{{ sidebar_item.link_url }}">
		    		{{ sidebar_item.link_text|upper }}
		    	</a>
		    {% endif %}	
	    {% endfor %}
	</div>
	<div class="hide-for-small-only">
	<span class="list-divider smaller"></span>
		<div class="sidebar__wrapper">
			<button class="sites-button advanced-search inverse desktop__full--width" type="button">
				ADVANCED SEARCH
			</button>
		</div>
		<span class="list-divider smaller"></span>
		<div class="sidebar__wrapper">
			<h4 class="title__text smaller insights margin-bottom--0">
				Subscribe
			</h4>
			<form class="relative">
				<input type="text" placeholder="EMAIL" class="subscribe">
				</input>
				<button class="sites-button advanced-search desktop__full--width" type="button">
					SUBSCRIBE
				</button>
			</form>
		</div>
	</div>
	<div class="hide-for-small-only">
		<span class="list-divider smaller"></span>
		<div class="sidebar__wrapper">
			<h4 class="title__text smaller insights margin-bottom--0">
				{{ contact_name }}
			</h4>
			<p class="tag__text contact margin-bottom--0 font-weight__bold">
				{{ contact_title|upper }}
			</p>
			<span class="list-divider smallest red"></span>
			<p class="body__text insights">
				{{ contact_phone_number }}
			</p>
			<a class="body__text insights link red" href="mailto:{{contact_email}}"> 
				<p class="link body__text insights">
					{{ contact_email }}
				</p>
			</a>
		</div>
	</div>	
</div>