<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						Insights
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="row experience__wrapper body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/insights-sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-9 large-10">
			<div class="columns small-12 medium-6 large-6">
				<div class="padding__wrapper">
					<p class="title__text">
						Articles
					</p>
					{% for news_article in news_articles %}
						{% set news_article = news_article|first %}							
						<table class="no__border">
							<tbody class="no__border">
								<tr class="arrow__hover--trigger">
									<td class="no__pad full__width">
										<a class="hover__black black" href="{{news_article.guid}}">
											{{ news_article.post_title }}<br>
										</a> 
										<p class="tag__text grey margin-top-20">
											{{ news_article.date|date("M d, Y")|upper }}
										</p>
									</td>
									<td class="no__pad">
										<div class="link__arrow--wrapper news">
											<a href="{{news_article.guid}}">
												<svg class="long__arrow--svg news" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
													<title>long arrow</title>
													<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
													<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
												</svg>
											</a>	
										</div>
									</td>
								</tr>
							</tbody>	
						</table>
						{% if not loop.last %}<span class="insights list-divider"></span>{% endif %}
					{% endfor %}
					<a class="link red tag__text underline" href="/articles">
						{{ "see all articles"|upper }}
					</a>
				</div>
			</div>
			<div class="columns small-12 medium-6 large-6">
				<div class="padding__wrapper sides__only ten">
					<p class="title__text">
						Alerts
					</p>
					{% for alert in alerts %}
						{% set alert = alert|first %}
						<table class="no__border">
							<tbody class="no__border">
								<tr class="arrow__hover--trigger">
									<td class="no__pad full__width">
										<a class="hover__black black" href="{{alert.guid}}">
											{{ alert.post_title }}<br>
										</a> 
										<p class="tag__text grey margin-top-20">
											{{ alert.date|date("M d, y")|upper }}
										</p>
									</td>
									<td class="no__pad">
										<div class="link__arrow--wrapper news">
											<a href="{{alert.guid}}">
												<svg class="long__arrow--svg news" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
													<title>long arrow</title>
													<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
													<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
												</svg>
											</a>	
										</div>
									</td>
								</tr>
							</tbody>	
						</table>
						{% if not loop.last %}<span class="insights list-divider"></span>{% endif %}
					{% endfor %}
					<a class="link red tag__text underline" href="/alerts">
						{{ "see all alerts"|upper }}
					</a>
				</div>
			</div>
				
			
			<div class="columns  small-12 medium-12 large-12">
				<span class="list-divider full__width margin-top-40"></span>
				<p class="title__text insights__blog">
					Blogs
				</p>
				<div class="insight__blogs--outer-wrapper">
					{% for blog in blogs %}
						<div class="small-12 medium-12 large-4 columns end padding-top-20 padding-bottom-20">
							<div class="insight__blog--wrapper">
								<img class="insights" src="{{ TimberImage(blog.blog_image).src }}" />
								<div class="color__block--grey insights">
									<h4 class="red title__text smaller">
										{{ blog.blog_title }}
									</h4>
									<div class="body__text">
										{{blog.blog_content_excerpt}}
									</div>
									<a href="{{ blog.blog_link_url }}">
										<span class="tile__arrow blog">
											<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
												<title>long arrow</title>
												<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
												<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
											</svg>
										</span>
									</a>
								</div>
							</div>	
						</div>	
					{% endfor %}
				</div>
			</div>	

			<div class="columns  small-12 medium-12 large-12">
				<span class="list-divider full__width margin-top-40"></span>
				<p class="title__text insights__blog">
					Publications
				</p>
				<div class="insight__blogs--outer-wrapper">
					{% for publication in publications %}
						<div class="small-12 medium-12 large-6 columns end {% if not loop.last %} margin-bottom--20 {% endif %}">
							<div class="insight__blog--wrapper">
								<div class="color__block--grey insights--publication">
									<a href ="{{publication.publication_link}}">
										<span class="tag__text link" data-publication-trigger="{{publication.publication_trigger_id}}">
											<div >
												{{publication.publication_title}}
											</div>
										</span>
									</a>
								</div>
							</div>	
						</div>	
					{% endfor %}
				</div>
			</div>		
		</div>
	</div>
</div>
<div class="grey__background columns small-12 padding__wrapper twenty show-for-small-only">
	<div class="insights__bottom--mobile-wrapper">
		<div class="table__wrapper margin__auto">
			<div class="table__inner">
				<h4 class="title__text smaller insights margin-bottom--0">
					Subscribe
				</h4>
				{% set sidebar = sidebar|first %}
				{{ sidebar.post_content|shortcodes }}
				<span class="list-divider mobile mobile__centered smaller"></span>
				<div class="text-align__center">
					<h4 class="title__text smaller insights margin-bottom--0">
						{{ contact_name }}
					</h4>
					<p class="tag__text contact margin-bottom--0 font-weight__bold">
						{{ contact_title|upper }}
					</p>
					<span class="list-divider mobile mobile__centered smallest red"></span>
					<p class="body__text insights">
						{{ contact_phone_number }}
					</p>
					<a class="body__text insights link red" href="mailto:{{contact_email}}"> 
						<p class="link body__text insights">
							{{ contact_email }}
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>