<div id="featuredImage" class ="featured-image__header--image-wrapper">
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>
{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/insights-sidebar.twig' with sidebar %}
		<div class="columns show-for-medium-up medium-9 large-9 small-12 mobile-margin-top-20">
			<div class="columns small-12 medium-12 large-12 no__pad--sides padding-bottom-40">
				{{ top_content }}
			</div>
			<div class="no__pad columns small-12 medium-12 large-12 x-large-12">
				<p class="title__text">
					Subscribe to our email list
				</p>
				<div class="subscribe__content--wrapper">
					{{ post.post_content|shortcodes }}
				</div>
			</div>
			<div class="columns small-12 medium-12 large-12 no__pad margin-top-60 desktop-only">
				<div class="no__pad">
					<div class="columns small-12 medium-12 large-3 x-large-6 no__pad">
						<p class="title__text">
							{{ header_text }}
						</p>
					</div>
					<div class="columns large-2 no__pad padding-left-5 margin__1 text-align__center">
						<select id="dateSelect" name="date_query" class="clean___border insight inline__text grey__bold__text smaller">
				            {% set dateValues = [] %}
				            {% set datePresenters = [] %}
				            {% for date in dates %}
				            	{{ date }}
				                {% set valueFormattedDate = date|date("mY")%}
				                {% set presentationFormattedDate = date|date("F, Y")%}
				                {% if valueFormattedDate not in dateValues %}
				                    {% set dateValues = dateValues|merge([valueFormattedDate]) %}
				                {% endif %}
				                {% if presentationFormattedDate not in datePresenters %}
				                    {% set datePresenters = datePresenters|merge([presentationFormattedDate]) %}
				                {% endif %}
				            {% endfor %}
				            <option value="">
				            	DATE
				            </option>
			                {% for i in datePresenters %}
			                  <option value='{{ dateValues[loop.index0] }}'>
			                      {{ datePresenters[loop.index0] }}
			                  </option>
			                {% endfor %}
		            	</select>
					</div> 
					{% if geographies and geographies|length >= 1 %}	
						<div class="columns large-2 no__pad padding-left-5 margin__1 text-align__center">
							<select id="geographySelect" name="geography_query" class="clean___border insight inline__text grey__bold__text smaller">
								<option value="">
									GEOGRAPHIES
								</option>
							{% for geography in geographies %}
								<option value="{{ geography.slug|upper }}">
									{{ geography.name|upper }}
								</option>
							{% endfor %}
							</select>
						</div>
					{% endif %}
					{% if industries and industries|length >= 1 %}	
						<div class="columns large-2 no__pad padding-left-5 margin__1 text-align__center">
							<select id="industrySelect" name="industry_query" class="clean___border insight inline__text grey__bold__text smaller">
								<option value="">
									INDUSTRIES
								</option>
								{% for industry in industries %}
									<option value="{{ industry.slug|upper }}">
										{{ industry.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}	
					{% if practices and practices|length >= 1 %}	
						<div class="columns large-2 no__pad padding-left-5 margin__1 ">
							<select id="practiceSelect" name="practice_query" class="clean___border insight inline__text grey__bold__text smaller">
								<option value="">
									PRACTICES
								</option>
								{% for practice in practices %}
									<option value="{{ practice.slug|upper }}">
										{{ practice.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}	
				</div>
			</div>

			<div class="columns small-12 medium-12 large-12 no__pad">
				<div class="margin-top-60 columns small-12 medium-12 large-12 no__pad">
					{% for insight in insights %}
						{% set insight_url = insight.link %}
						<table class="no__border">
							<tbody class="no__border">
								<tr class="arrow__hover--trigger">
									<td class="no__pad full__width">
										<a class="hover__black black" href="{{ insight_url }}">
											{{ insight.title }}<br>
										</a> 
										{% if insight.get_field('br_authors')|length > 0 %}
											<p class="body__text mobile__centered">
												Authors:
											{% for author in insight.get_field('br_authors') %}
												{% set author = author|first %}
												<a class="link inline__link " href="{{ TimberPost(author.id).link }}">
													{{ author.first_name }} {{ author.last_name }}
												</a>
												{% if loop.index > 0 and not loop.last %}, {% endif %}
											{% endfor %}
										</p>
										{% endif %}
										<p class="tag__text grey margin-top-20">
											{{ insight.date|upper }}
										</p>
									</td>
									<td class="no__pad">
										<div class="link__arrow--wrapper news">
											<a href="{{ insight_url }}">
												<svg class="long__arrow--svg news" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
													<title>long arrow</title>
													<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
													<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
												</svg>
											</a>	
										</div>
									</td>
								</tr>
							</tbody>	
						</table>
						{% if not loop.last %}<span class="insights list-divider"></span>{% endif %}
					{% endfor %}
				</div>	
			</div>
		</div>
	</div>
</div>
<div class="grey__background columns small-12 padding__wrapper twenty show-for-small-only">
	<div class="insights__bottom--mobile-wrapper">
		<div class="table__wrapper margin__auto">
			<div class="table__inner">
				<h4 class="title__text smaller insights margin-bottom--0">
					Subscribe
				</h4>
				{% set sidebar = sidebar|first %}
				{{ sidebar.post_content|shortcodes }}
				<span class="list-divider mobile mobile__centered smaller"></span>
				<div class="text-align__center">
					<h4 class="title__text smaller insights margin-bottom--0">
						{{ contact_name }}
					</h4>
					<p class="tag__text contact margin-bottom--0 font-weight__bold">
						{{ contact_title|upper }}
					</p>
					<span class="list-divider mobile mobile__centered smallest red"></span>
					<p class="body__text insights">
						{{ contact_phone_number }}
					</p>
					<a class="body__text insights link red" href="mailto:{{contact_email}}"> 
						<p class="link body__text insights">
							{{ contact_email }}
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>	
</div>

<div id="emailModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper email__modal">
		            <p class="title__text text-align__center">
		              Notice
		            </p>
		            <p class="modal__text">
		              You understand and agree that transmitting information to Brown Rudnick by e-mail does not establish an attorney-client relationship. By clicking the "Agree" link below, you acknowledge that (i) Brown Rudnick has no obligation to maintain the confidentiality of any information you submit to Brown Rudnick unless Brown Rudnick already represents you or Brown Rudnick later agrees to represent you; thus, if you are not a client, information you submit to Brown Rudnick by e-mail may be disclosed to others and (ii) you have read and understand the Brown Rudnick Terms of Use and Privacy Policy and that you agree to be bound by the terms and conditions of such Terms of Use and Privacy Policy.
		            </p>
		            <p class="modal__text">
		            	If you would like to discuss becoming a client, please contact one of Brown Rudnick's attorneys to arrange for a meeting or telephone conference. Thank you for your interest in Brown Rudnick.
		            </p>
		            <div class="email-buttons">
			            <div class="div__half">
			            	<a id="email-modal-close"><p class="sites-button">agree</p></a>
			          	</div>
			            <div class="div__half ">
			            	<a id="no-email-modal-close"><p class="sites-button inverse">disagree</p></a>
			            </div>
		          	</div>
         		</div>
        	</div>  
     	</div>
    </div>  
</div>

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>