<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ law_firm_network_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-8 large-10">
			<div class="columns small-12 medium-12 large-12">
				<p class="title__text">
					{{ text_content_top }}
				</p>
				<p class="body__text">
					{{ text_content_body }}
				</p>
			</div>	
		</div>
	</div>
</div>
<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
	<div class="row padding__wrapper top-and-bottom sixty">
		<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
			<div class="color__block--outer-wrapper white__bg">
				<div class="color__block--inner-wrapper white__bg">
					<p class="title__text">
						{{ bullet_section_header }}
					</p>
					<div class="bullets inline__text">
						{% for bullet in bullets %}
							{% set bullet = bullet|first %}
							<div class="bullet">
								<div class="body__text bullet__text">
									{{bullet}}
								</div>
							</div>	
						{% endfor %}
					</div>	
					<p class="body__text roman">
						{{ bullet_section_bottom_content }}
					</p>
					<p class="body__text smaller italic">
						{{ bullet_section_notice }}
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>

{% include '/template-parts/email-notice.twig' %}

<script type="text/javascript">
	{% if banner_image %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{banner_image}}");
		})
	{% endif %}
</script>