<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ law_firm_network_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-9 large-10">
			<div class="columns small-12 medium-12 large-12">
				<p class="title__text">
					{{ text_content_top }}
				</p>
				<p class="body__text">
					{{ text_content_body }}
				</p>
			</div>	
		</div>
	</div>
</div>
<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
	<div class="row padding__wrapper top-and-bottom sixty">
		<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
			<div class="color__block--outer-wrapper white__bg">
				<div class="color__block--inner-wrapper white__bg">
					<p class="title__text">
						{{ bullet_section_header }}
					</p>
					<div class="bullets inline__text">
						{% for bullet in bullets %}
							{% set bullet = bullet|first %}
							<div class="bullet">
								<div class="body__text bullet__text">
									{{bullet}}
								</div>
							</div>	
						{% endfor %}
					</div>	
					<p class="body__text roman">
						{{ bullet_section_bottom_content }}
					</p>
					<p class="body__text smaller italic">
						{{ bullet_section_notice }}
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>


<div id="emailModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper email__modal">
		            <p class="title__text text-align__center">
		              Notice
		            </p>
		            <p class="modal__text">
		              You understand and agree that transmitting information to Brown Rudnick by e-mail does not establish an attorney-client relationship. By clicking the "Agree" link below, you acknowledge that (i) Brown Rudnick has no obligation to maintain the confidentiality of any information you submit to Brown Rudnick unless Brown Rudnick already represents you or Brown Rudnick later agrees to represent you; thus, if you are not a client, information you submit to Brown Rudnick by e-mail may be disclosed to others and (ii) you have read and understand the Brown Rudnick Terms of Use and Privacy Policy and that you agree to be bound by the terms and conditions of such Terms of Use and Privacy Policy.
		            </p>
		            <p class="modal__text">
		            	If you would like to discuss becoming a client, please contact one of Brown Rudnick's attorneys to arrange for a meeting or telephone conference. Thank you for your interest in Brown Rudnick.
		            </p>
		            <div class="email-buttons">
			            <div class="div__half">
			            	<a id="email-modal-close"><p class="sites-button">agree</p></a>
			          	</div>
			            <div class="div__half ">
			            	<a id="no-email-modal-close"><p class="sites-button inverse">disagree</p></a>
			            </div>
		          	</div>
         		</div>
        	</div>  
     	</div>
    </div>  
</div>



<script type="text/javascript">
	{% if banner_image %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{banner_image}}");
		})
	{% endif %}
</script>