<div id="featuredImage" class ="featured-image__header--image-wrapper" >

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>

{# body - with sidebar #}
<div class="row relative z-index__1">
	<div class="row careers__wrapper body__wrapper columns small-12 medium-12 large-12">
		<div class="columns show-for-medium-up medium-3 large-2 sidebar__on-scroll--fixed">
			<div class="padding__wrapper ten sides__only">
				{# DESKTOP SIDEBAR HEADER #}
				<h4 class="red title__text smaller hide-for-small-only">
					<a class="red link inline__link" href="/careers">
						{{ sidebar_header }}
					</a>
				</h4>
				{# MOBILE SIDEBAR HEADER #}
				<h4 class="show-for-small-only accordion__trigger red list__header mobile" data-trigger-target="sidebarMobileAccordion">
					<a class="red link inline__link" href="/careers">
						{{ sidebar_header }}
					</a>
				</h4>
				<span class="show-for-small-only expander top__menu" data-show-target="sidebarMobileAccordion" ></span>
				{# DESKTOP SIDEBAR LIST DIVIDER #}
				<span class="list-divider hide-for-small-only"></span>
				{# MOBILE SIDEBAR LIST DIVIDER #}
				<span class="list-divider mobile show-for-small-only"></span>
				
				<div class="sidebar-items__wrapper">
				    {% for sidebar_item in lawyers_sidebar_items %}
		    		{% set link_slug = sidebar_item.sidebar_item_link|split('/')[3] %}
						{# DESKTOP MENU ITEMS #}
				    	<a class="{% if slug == link_slug|lower %}red{% endif %} hide-for-small-only link sidebar__link" href="{{ sidebar_item.sidebar_item_link }}">
				    		{{ sidebar_item.sidebar_item_text|upper }}
				    	</a>
					{# MOBILE MENU ITEMS #}
						<a class="{% if slug == link_slug|lower %}red{% endif %} show-for-small-only link sidebar__link mobile {% if loop.last %} last-sidebar__link{% endif %}" href="{{ sidebar_item.sidebar_item_link }}">
				    		{{ sidebar_item.sidebar_item_text|upper }}
				    	</a>
				    {% endfor %}
				</div>    
			</div>
		</div>
		<div class="columns small-12 medium-9 large-10 float--right relative">
			<div class="columns small-12 medium-12 large-12 relative">
				<p class="title__text">
					{{ top_text_header }}
				</p>

				<p class="body__text">
					{{ top_text_content }}
				</p>
			</div>
			<div class="columns small-12 medium-12 large-12 relative">
				<div class="page__divider grey"></div>
			</div>
			<div class="columns small-12 medium-12 large-12 relative">
				<p class="title__text">
					{{ middle_text_header }}
				</p>

				<p class="body__text">
					{{ middle_text_content }}
				</p>			
			</div>

			<div class="columns small-12 medium-12 large-12 relative">
				<div class="small-3 medium-3 large-3 float--right">
					<select id="locationSelect" name="location_query" class="inline__text">
						<option value="">
							LOCATIONS
						</option>
						{% for location in locations %}
							<option value="{{ location.slug|upper }}">
								{{ location.name|upper }}
							</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="columns small-12 medium-12 large-12 relative">
				{% set job_openings = post.get_field('lawyers_job_openings') %}
					<table>
						{% for job_opening in job_openings %}
						{% set job_opening = job_opening|first %}
						<tr>
							<td>
								{{ job_opening.position }}
							</td>
							<td>
								{{ job_opening.start_date|date("m/d/Y") }}
							</td>
							<td>
							    {{ job_opening.offices }}
							</td>
							<td>
								<span class="job_expander top__menu job_opening" data-show-target="jobOpeningAdditionalDetails" ></span>
							</td>
						</tr>
						<tr class="hidden__job--description">
							<td class="hidden" colspan="5">
								{{ job_opening.position_description }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>


	

		</div>

		<div class="grey__background columns small-12 medium-12 large-12">
			<div class="row padding__wrapper top-and-bottom sixty">
				<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
					<div class="color__block--outer-wrapper white__bg">
						<div class="color__block--inner-wrapper">
							<p class="title__text">
								{{ features_header }}
							</p>
							{% for lawyers_feature in lawyers_features %}
								<div class="bullet bullet__full-width">
									<div class="body__text bullet__text">
										{{lawyers_feature.feature}}
									</div>
								</div>	
							{% endfor %}
						</div>
						<div class="clear">
							{{features_bottom_text}}
						</div>
					</div>	
				</div>
			</div>
		</div>


		<div class="experience__wrapper columns small-12 medium-12 large-12">
			<div class="row padding__wrapper top-and-bottom">
				<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
					<div class="color__block--outer-wrapper white__bg">
						<div class="color__block--inner-wrapper">
							<p class="title__text">
								{{ benefits_header }}
							</p>
							{% for lawyers_benefit in lawyers_benefits %}
								<div class="bullet lawyers-bullet">
									<div class="body__text bullet__text">
										{{lawyers_benefit.benefit}}
									</div>
								</div>	
							{% endfor %}
						</div>
					</div>	
				</div>
			</div>
		</div>
	
	</div>
</div>

<div id="lawyersBannerImage" class="scroll-stopper">
	<div class="row">
		<div class="table__wrapper pro-bono__banner">
		    <div class="table__inner pro-bono__banner">
		        <div class="color-block__wrapper large-7 medium-8 small-12 float--right">
		          <div class="color__block white relative lawyers__text title__text smaller">
		            		<p>{{bottom_banner_text}}</p>
		          </div>  
		        </div>
	        </div>
		</div>
	</div>	
</div>	

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
	{% if featured_image_url|length > 0 %}
		$(document).ready(function(){
			$('#lawyersBannerImage').backstretch("{{ bottom_banner_image }}");
		})
	{% endif %}
</script>