<div id="featuredImage" class ="featured-image__header--image-wrapper" >
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ locations_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row careers__wrapper body__wrapper columns small-12 medium-12 large-12 no__pad">
	<div class="human-icon" data-toggle="offCanvas"></div>
	<div class="columns large-12 medium-12 small-12 no__pad">
		{% for location in locations %}
			<div class="{% if loop.last %} float-left last{% endif %} columns large-4 medium-6 small-12 padding__wrapper top-and-bottom__only--20">
					<a href="{{ location.link }}">
					<p class="title__text link">
						{{ location.title }}
					</p>
				</a> 
				<p class="body__text line__height__smaller">
					{{ location.street_address_line_1 }} {{ location.city }}{% if location.state %}, {{ location.state }}{% endif %} {{ location.zip_code}}
				</p>
				<p class="body__text line__height__smaller">
					{{ location.country }}
				</p>
				<p class="body__text line__height__smaller">
					<div class="desktop__menu__icon__single">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.cls-1{fill:none;stroke:#231f20;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><title>phone</title><g id="Layer_2" data-name="Layer 2"><g id="icons"><path class="cls-1" d="M18.17,14.8a4.63,4.63,0,0,0,0-6.54L13.26,3.35a4.63,4.63,0,0,0-6.54,0L4,6a6.93,6.93,0,0,0-.88,8.73A107.57,107.57,0,0,0,33.22,44.84,6.94,6.94,0,0,0,42,44l2.69-2.69a4.63,4.63,0,0,0,0-6.54l-4.91-4.91a4.63,4.63,0,0,0-6.54,0l-1.64,1.64a109.75,109.75,0,0,1-15-15Z"/></g></g></svg>
					</div>
						{{ location.phone_number }}
				</p>
				<p class="body__text line__height__smaller">
					<div class="desktop__menu__icon__single">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.5 45.5"><defs><style>.cls-1{fill:none;stroke:#231f20;stroke-linecap:round;stroke-linejoin:round;stroke-width:3.5px;}</style></defs><title>Asset 2</title><g id="Layer_2" data-name="Layer 2"><g id="icons"><path class="cls-1" d="M11.75,33.75h-6a4,4,0,0,1-4-4v-12a4,4,0,0,1,4-4h38a4,4,0,0,1,4,4v12a4,4,0,0,1-4,4h-6"/><polyline class="cls-1" points="11.75 12.75 11.75 1.75 31.75 1.75 37.75 7.75 37.75 12.75"/><rect class="cls-1" x="11.75" y="27.75" width="26" height="16"/></g></g></svg>
					</div>
						{{ location.fax_number }}
				</p>	
			</div>
		{% endfor %}
	</div>
</div>


<div id="locationsBottomImage" ckass="bottom--banner--image--wrapper">
	<div class="row">
		<div class="pro-bono__banner">
		        <div class="color-block__wrapper large-6 medium-8 small-12 float--right">
		          <div class="color__block white relative">
		            <div class="slide-description">
		            	<h4 class="tag__text bigger red">
		                	{{ bottom_banner_header_text|upper }}
		            	</h4>
		            </div>
					<span class="list-divider about__deatils red"></span>
		            <p class="title__text black">
		            	{{ bottom_banner_content_text }}
		            </p>
					<a href="{{ locations_bottom_banner_link_url }}">
						<span class="tile__arrow pro-bono">
							<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
							<title>long arrow</title>
							<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
							<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
							</svg>
						</span>
					</a>     
		          </div>  
		        </div>
		</div>
	</div>	
</div>

<script type="text/javascript">
	{% if banner_image %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{banner_image}}");
		})
	{% endif %}
	{% if bottom_banner_image %}
		$(document).ready(function(){
			$('#locationsBottomImage').backstretch("{{bottom_banner_image}}");
		})
	{% endif %}
</script>