<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div id="featuredImage" class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ ceo_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-8 large-10">
			<div class="columns small-12 medium-12 large-12">
				<p class="body__text">
					{{ post.content }}
				</p>
			</div>
			<div class="columns small-12 medium-12 large-12 ceo--bottom">
				<div class="inline__wrapper person padding__right--50">
					<div class="table__wrapper">
						<div class="table__inner">
							<img class="people__details" src="{{ ceo_image }}"/>
						</div>
					</div>
				</div>
				<div class="inline__wrapper person">
					<div class="table__wrapper">
						<div class="table__inner">
							<a href="{{ceo_url}}">
								<p class="people__details title__text smaller">
									{{ ceo_name }}
								</p>
							</a>
							<p class="people__details tag__text">
								{{ ceo_title|upper }}
							</p>
							<span class="about__details list-divider red"></span>
						</div>	
					</div>	
				</div>
			</div>	
		</div>
	</div>
</div>

<script type="text/javascript">
	{% if banner_image|length > 0 %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{ banner_image }}");
		})
	{% endif %}
</script>