<div id="featuredImage" class ="featured-image__header--image-wrapper" >
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
			<a class="breadcrumb__link {{ breadcrumb_color }}" href="/careers">{{ "careers"|upper }}</a> / <a class="breadcrumb__link {{ breadcrumb_color }}" href="/law-students">{{ "law-students"|upper }}</a>
		</div>
		<div class="featured-image__header--text-outer-wrapper row">
			<div class="featured-image__header--text-wrapper">
				<div class="featured-image__header--text-inner-wrapper">
					<div class="color__block vellum">
						<h1 class="page__header {{ header_text_color }}">
							{{ header_text }}
						</h1>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		<div class="columns small-12 medium-12 large-12">
			<p class="body__text">
				{{ middle_text_content }}
			</p>
		</div>
</div>

<div id="nalpImage" class="scroll-stopper bottom--banner--image--wrapper">
	<div class="row">
		<div class="table__wrapper pro-bono__banner">
		    <div class="table__inner pro-bono__banner">
		        <div class="color-block__wrapper large-6 medium-8 small-12 float--right">
		          <div class="color__block white relative">
		            	<a target="_blank" href="http://www.nalpdirectory.com/employer_profile?FormID=6820"><h4 class="tag__text bigger red">
		                	{{ nalp_report_banner_header|upper }}
		            	</h4></a>
									<span class="list-divider about__deatils red"></span>
			            <p class="title__text smaller black">
			            		{{ nalp_report_banner_text_content }}
			            </p>
									<a style="margin: 0;" target="_blank" href="http://www.nalpdirectory.com/employer_profile?FormID=6820">
										<span class="tile__arrow">
											<svg class="long__arrow--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 18">
											<title>long arrow</title>
											<line class="long__arrow red" x1="1" y1="9" x2="56" y2="9"/>
											<polyline class="long__arrow red" points="48 1 56 9 48 17"/>
											</svg>
										</span>
									</a>     
		          </div>  
		        </div>
	        </div>
		</div>
	</div>	
</div>




<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
	{% if nalp_bottom_banner_image|length > 0 %}
		$(document).ready(function(){
			$('#nalpImage').backstretch("{{ nalp_bottom_banner_image }}");
		})
	{% endif %}
</script>