<div id="advancedSearchModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper">
		            <button class="close__modal cancel"></button>
		            <p class="title__text text-align__center">
		              Advanced Search
		            </p>
		            <p class="body__text bigger text-align__center">
		              SEARCH ALL PEOPLE
		            </p>
			        <form id="peopleAdvancedSearch">
			            <div class="columns large-12 medium-12 small-12">
			              <input id="keywordInput" type="text" name="s" placeholder="Name or Keyword">
			            </div>

			            <div class="columns large-6 medium-6 small-6">
			            	<select id="geographySelect" name="geography_query" class="inline__text">
								<option value="">
									GEOGRAPHIES
								</option>
								{% for geography in geographies %}
									<option value="{{ geography.slug|upper }}">
										{{ geography.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>
						<div class="columns large-6 medium-6 small-6">	
							<select id="industrySelect" name="industry_query" class="inline__text">
								<option value="">
									INDUSTRIES
								</option>
								{% for industry in industries %}
									<option value="{{ industry.slug|upper }}">
										{{ industry.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>	
						<div class="columns large-6 medium-6 small-6">
							<select id="practiceSelect" name="practice_query" class="inline__text">
								<option value="">
									PRACTICES
								</option>
								{% for practice in practices %}
									<option value="{{ practice.slug|upper }}">
										{{ practice.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="columns large-6 medium-6 small-6">
							<select id="languageSelect" name="language_query" class="inline__text">
								<option value="">
									LANGUAGES
								</option>
								{% for language in languages %}
									<option value="{{ language.slug|upper }}">
										{{ language.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="columns large-6 medium-6 small-6">
							<select id="locationSelect" name="location_query" class="inline__text">
								<option value="">
									LOCATIONS
								</option>
								{% for location in locations %}
									<option value="{{ location.slug|upper }}">
										{{ location.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
			            <div class="columns large-6 medium-6 small-6">
							<select id="admissionSelect" name="admission_query" class="inline__text">
								<option value="">
									ADMISSIONS
								</option>
								{% for admission in admissions %}
									<option value="{{ admission.slug|upper }}">
										{{ admission.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
			            <div class="columns large-6 medium-6 small-6">
							<select id="educationSelect" name="education_query" class="inline__text">
								<option value="">
									EDUCATION
								</option>
								{% for education in educations %}
									<option value="{{ education.slug|upper }}">
										{{ education.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="button__wrapper">
							<button id="peopleAdvancedSearchButton" type="button" class="sites-button">
								Submit
							</button>
						</div>
			        </form>    
         		</div>
        	</div>  
     	</div>
    </div>  
</div>

<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						People
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper content columns small-12 medium-12 large-12" data-sticky_parent >
		<div class="columns show-for-medium-up small-12 medium-3 large-2 x-large-2 sidebar__on-scroll--fixed">
			<h4 class="red title__text smaller">
				Browse by Last Name
			</h4>
			<span class="list-divider letter__links"></span>
			<div class="letter__links_wrapper">
				{% for letter in alphabet %}
				    <div class="columns medium-4 large-4 small-2 {% if loop.index == 26 %} float-left   {% endif %} letter__link--outer-wrapper">
				    	<div class="letter__link--inner-wrapper {% if loop.first %} active {% endif %}">
					    	<a data-letter="{{letter}}" class="letter__link">
					    		{{ letter }}
					    	</a>
				    	</div>
				    </div>			    	
				{% endfor %}    	    
			</div>
			<div class="letter__links_wrapper">
				<button id="advancedPeopleSearch" type="button" class="sites-button inverse advanced-search" >
					Advanced Search
				</button>
			</div>
		</div>	
		<div class="columns small-12 medium-9 large-10 relative float--right people__details--container">
			<div class="padding__wrapper forty sides__only">	
				<div class="columns small-12 medium-12 large-12 relative">
					<div>
						{% if geography %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									geography: {{ geography }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}
						{% if industry %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									industry: {{ industry }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}
						{% if practice %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									practice: {{ practice }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}
						{% if language %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									language: {{ language }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}
						{% if admission %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									admission: {{ admission }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}
						{% if education %}
							<div class="search-results__tag--outer-wrapper">
								<div class="search-results__tag--inner-wrapper">
									education: {{ education }}
									<button class="tag__canceler">
										x
									</button>
								</div>
							</div>	
						{% endif %}	
					</div>
						{% if keyword %}
							<p class="title__text">
								Showing results for your search "{{keyword}}"
							</p>
						{% endif %}	
					{% if people|length > 0 %}
						{% for person in people %}
							{% set first_letter_of_last = person.last_name|slice(0,1)|upper %}
							{% set previous_item = people[ loop.index0 - 1] %}
							{% for letter in alphabet %}
								{% if letter|upper == first_letter_of_last|upper %}	
									{% if previous_item.last_name|slice(0,1) != person.last_name|slice(0,1) %}
										<div class="columns small-12 medium-12 large-12 relative">
											<div class="columns small-1 medium-1 large-1 relative">
												<div data-letter-anchor="{{ letter }}" class="letter__anchor--indicator">
													<div class="letter__anchor--inner-indicator">
														{{ letter }}
													</div>	
												</div> 
											</div>
											<div class="columns small-11 medium-11 large-11 relative">
												<span class="page__divider grey inline__block people">
												</span>
											</div>	
										</div>	
									{% endif %}
									<div class="columns medium-12 large-6 small-12 min--height__225 end">
										<div class="columns medium-6 large-6 small-12">
											<img class="people__details" src="{{ TimberImage(person.image).src }}" />
										</div>
										<div class="columns medium-6 large-6 small-12">
											<div class="people__details--outer-wrapper">
												<div class="people__details--inner-wrapper">
													<a href="{{ person._permalink }}" class="people__details title__text smaller">
														{# {{ person.first_name }} {% if person.middle_initial %}{{ person.middle_initial }}. {% endif %} {{ person.last_name }} #}
														{{ person.name }}
													</a>
													{% if person.title %}	
														<p class="people__details tag__text">
															{{ person.job_title|upper }}
														</p>
													{% endif %}	
													<span class="people__deatils list-divider red"></span>
													<p class="people__details body__text">
														{{ person.primary_city }}, {{ person.primary_state }}{% if person.secondary_city and person.secondary_state %} | {{ person.secondary_city }}, {{ person.secondary_state}} {% endif %} 
													</p>
													<p class="people__details body__text">
														{{ person.primary_phone_number }}
													</p>
													<a href="mailto:{{person.email}}" class="red link inline__link body__text people__details">
														{{ person.email }}
													</a>
												</div>
											</div>	
										</div>
									</div>
								{% endif %}	
							{% endfor %}
						{% endfor %}
					{% else %}
						{% if keyword %}
							<p class="title__text">
								Showing results for your search "{{keyword}}"
							</p>
						{% else %}	
							<p class="title__text">
								Sorry! We couldn't find any results for your query!
							</p>
						{% endif %}	
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
</div>
<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>