<div id="advancedSearchModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper">
		            <button class="close__modal cancel"></button>
		            <p class="title__text text-align__center">
		              Advanced Search
		            </p>
		            <p class="body__text bigger text-align__center wide-spacing">
		              SEARCH ALL PEOPLE
		            </p>
			        <form id="peopleAdvancedSearch">
			            <div class="columns large-12 medium-12 small-6">
			              <input id="keywordInput" type="text" name="s" placeholder="Name or Keyword">
			            </div>
			            <div class="columns large-6 medium-6 small-6">
			            	<select id="geographySelect" name="geography_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									GEOGRAPHIES
								</option>
								{% for geography in geographies %}
									<option value="{{ geography.slug|upper }}">
										{{ geography.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>
						<div class="columns large-6 medium-6 small-6">	
							<select id="industrySelect" name="industry_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									INDUSTRIES
								</option>
								{% for industry in industries %}
									<option value="{{ industry.slug|upper }}">
										{{ industry.name|upper }}
									</option>
								{% endfor %}
							</select>
						</div>	
						<div class="columns large-6 medium-6 small-6">
							<select id="practiceSelect" name="practice_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									PRACTICES
								</option>
								{% for practice in practices %}
									<option value="{{ practice.slug|upper }}">
										{{ practice.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="columns large-6 medium-6 small-6">
							<select id="languageSelect" name="language_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									LANGUAGES
								</option>
								{% for language in languages %}
									<option value="{{ language.slug|upper }}">
										{{ language.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="columns large-6 medium-6 small-6">
							<select id="locationSelect" name="location_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									LOCATIONS
								</option>
								{% for location in locations %}
									<option value="{{ location.slug|upper }}">
										{{ location.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
			            <div class="columns large-6 medium-6 small-6">
							<select id="admissionSelect" name="admission_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									ADMISSIONS
								</option>
								{% for admission in admissions %}
									<option value="{{ admission.slug|upper }}">
										{{ admission.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
			            <div class="columns large-6 medium-6 small-6">
							<select id="educationSelect" name="education_query" class="clean___border inline__text grey__bold__text smaller">
								<option value="">
									EDUCATION
								</option>
								{% for education in educations %}
									<option value="{{ education.slug|upper }}">
										{{ education.name|upper }}
									</option>
								{% endfor %}
							</select>
			            </div>
						<div class="columns large-12 small-12 medium-12 search__button__container">
							<button id="peopleAdvancedSearchButton" type="button" class="sites-button">
								Submit
							</button>
						</div>
			        </form>    
         		</div>
        	</div>  
     	</div>
    </div>  
</div>

<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						People
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}

<div class="back__to__top show-for-small-only">
	<p>
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32.634 32.634" style="enable-background:new 0 0 32.634 32.634;" xml:space="preserve">
		<g>
			<path d="M16.317,32.634c-0.276,0-0.5-0.224-0.5-0.5V0.5c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v31.634   C16.817,32.41,16.594,32.634,16.317,32.634z" fill="#FFFFFF"/>
			<path d="M28.852,13.536c-0.128,0-0.256-0.049-0.354-0.146L16.319,1.207L4.135,13.39c-0.195,0.195-0.512,0.195-0.707,0   s-0.195-0.512,0-0.707L15.966,0.146C16.059,0.053,16.186,0,16.319,0l0,0c0.133,0,0.26,0.053,0.354,0.146l12.533,12.536   c0.195,0.195,0.195,0.512,0,0.707C29.108,13.487,28.98,13.536,28.852,13.536z" fill="#FFFFFF"/>
		</g>
		</svg>
	</p>
</div>

<div class="row">
	<div class="experience__wrapper row body__wrapper content columns small-12 medium-12 large-12" data-sticky_parent >
		<div class="columns show-for-medium-up small-12 medium-3 large-2 x-large-2 sidebar__on-scroll--fixed">
			<h4 class="red title__text smaller">
				Browse by Last Name
			</h4>
			<span class="list-divider letter__links"></span>
			<div class="letter__links_wrapper">
				{% for letter in alphabet %}
				    <div class="columns medium-4 large-4 small-2 {% if loop.index == 26 %} float-left   {% endif %} letter__link--outer-wrapper">
				    	<div class="letter__link--inner-wrapper {% if loop.first %} letter--active {% endif %}">
					    	<a data-letter="{{letter}}" class="letter__link">
					    		{{ letter }}
					    	</a>
				    	</div>
				    </div>
				{% endfor %}
			</div>
				<button id="advancedPeopleSearch" type="button" class="sites-button inverse advanced-search small-5 medium-12" >
					Advanced Search
				</button>
		</div>	

		<div class="columns no__pad small-12 medium-8 large-10 relative float--right people__details--container">
			<div class="padding__wrapper forty sides__only">	
				<div class="columns small-12 medium-12 large-12 relative margin-bottom--20">
					<div>
						{% if geography %}
								<div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">geography</p>
								 		<p class="keyword--container">{{ geography }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='geography_query' data-tag="{{ geography }}">
								 			x
								 		</button>
							 		</div>
							 	</div>
						{% endif %}
						{% if location %}
								<div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">location</p>
								 		<p class="keyword--container">{{ location }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='geography_query' data-tag="{{ location}}">
								 			x
								 		</button>
							 		</div>
							 	</div>
						{% endif %}
						{% if industry %}
							<div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<div class="tag__half">
									 		<p class="keyword--title">industry</p>
									 		<p class="keyword--container">{{ industry }}</p>
								 		</div>
								 		<div class="tag__half">
									 		<button class="tag__canceller" data-name='industry_query' data-tag="{{ industry }}">
									 			x
									 		</button>
								 		</div>
								 	</div>
							 </div>
						{% endif %}
						{% if practice %}
							<div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">practice</p>
								 		<p class="keyword--container">{{ practice }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='practice_query' data-tag="{{ practice }}">
								 			x
								 		</button>
							 		</div>
							</div>
						{% endif %}
						{% if language %}
								<div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">language</p>
								 		<p class="keyword--container">{{ language }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='language_query' data-tag="{{ language }}">
								 			x
								 		</button>
							 		</div>
							 	</div>
						{% endif %}
						{% if admission %}
							<div class="tag__container small-6 medium-3 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">admission</p>
								 		<p class="keyword--container">{{ admission }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='admission_query' data-tag="{{ admission }}">
								 			x
								 		</button>
							 		</div>
							 </div>
						{% endif %}
						{% if education %}
							<div class="tag__container small-6 medium-6 large-3">	
							 		<div class="tag__half">
								 		<p class="keyword--title">education</p>
								 		<p class="keyword--container">{{ education }}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='education_query' data-tag="{{ education }}">
								 			x
								 		</button>
							 		</div>
							 </div>
						{% endif %}	
						{% if keyword %}

							 <div class="tag__container small-6 medium-6 large-3">
							 		<div class="tag__half">
								 		<p class="keyword--title">keyword</p>
								 		<p class="keyword--container">{{keyword}}</p>
							 		</div>
							 		<div class="tag__half">
								 		<button class="tag__canceller" data-name='keyword' data-tag="{{keyword}}">
								 			x
								 		</button>
							 		</div>
							 </div>
						{% endif %}	
					</div>
					{% if people|length > 0 %}
						{% if geography or location or industry or practice or language or admission or education or keyword %}
							<p class="title__text">
								Search results 
							</p>
						{% endif  %}	
						{% for person in people %}
							{% set first_letter_of_last = person.last_name|slice(0,1)|upper %}
							{% set previous_item = people[ loop.index0 - 1] %}
							{% for letter in alphabet %}
								{% if letter|upper == first_letter_of_last|upper %}	
									{% if previous_item.last_name|slice(0,1) != person.last_name|slice(0,1) %}
										<div class="columns small-12 medium-12 large-12 relative">
											<div class="columns small-1 medium-1 large-1 relative">
												<div data-letter-anchor="{{ letter }}" class="letter__anchor--indicator">
													<div class="letter__anchor--inner-indicator">
														{{ letter }}
													</div>	
												</div> 
											</div>
											<div class="columns small-10 medium-11 large-11 relative">
												<span class="page__divider grey inline__block people">
												</span>
											</div>	
										</div>	
									{% endif %}
									<div class="columns medium-12 large-6 small-12 min--height__225 end">
										<div class="columns medium-6 large-6 small-12">
											<div class="people__image__container">
												<img class="people__details" src="{{ TimberImage(person.image).src }}" />
											</div>
										</div>
										<div class="columns medium-6 large-6 small-12">
											<div class="people__details--outer-wrapper">
												<div class="people__details--inner-wrapper">
													<a href="{{ person._permalink }}" class="people__details title__text smaller">
														{# {{ person.first_name }} {% if person.middle_initial %}{{ person.middle_initial }}. {% endif %} {{ person.last_name }} #}
														{% if person.last_name %} 
															{{person.last_name}}, 
														{% endif %} 
														{% if person.first_name %}
															{{ person.first_name}}
														{% endif %} 
														{% if person.middle_initial %}
															{{ person.middle_initial }}.
														{% endif %}
													</a>

													{% if person.title %}	
														<p class="people__details tag__text">
															{{ person.job_title|upper }}
														</p>
													{% endif %}	
													<span class="people__details list-divider red"></span>
													<p class="people__details body__text">
														{{ person.primary_city }}, {{ person.primary_state }}{% if person.secondary_city and person.secondary_state %} | {{ person.secondary_city }}, {{ person.secondary_state}} {% endif %} 
													</p>
													<p class="people__details body__text">
														{{ person.primary_phone_number }}
													</p>
													<a href="mailto:{{person.email}}" class="email--people--link red link inline__link body__text people__details">
														{{ person.email }}
													</a>
												</div>
											</div>	
										</div>
									</div>
								{% endif %}	
							{% endfor %}
						{% endfor %}
					{% else %}
						<p class="title__text">
							Sorry! We couldn't find any results for your query!
						</p>
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
</div>


<div id="emailModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper email__modal">
		            <p class="title__text text-align__center">
		              Notice
		            </p>
		            <p class="modal__text">
		              You understand and agree that transmitting information to Brown Rudnick by e-mail does not establish an attorney-client relationship. By clicking the "Agree" link below, you acknowledge that (i) Brown Rudnick has no obligation to maintain the confidentiality of any information you submit to Brown Rudnick unless Brown Rudnick already represents you or Brown Rudnick later agrees to represent you; thus, if you are not a client, information you submit to Brown Rudnick by e-mail may be disclosed to others and (ii) you have read and understand the Brown Rudnick Terms of Use and Privacy Policy and that you agree to be bound by the terms and conditions of such Terms of Use and Privacy Policy.
		            </p>
		            <p class="modal__text">
		            	If you would like to discuss becoming a client, please contact one of Brown Rudnick's attorneys to arrange for a meeting or telephone conference. Thank you for your interest in Brown Rudnick.
		            </p>
		            <div class="email-buttons">
			            <div class="div__half">
			            	<a id="email-modal-close"><p class="sites-button">agree</p></a>
			          	</div>
			            <div class="div__half ">
			            	<a id="no-email-modal-close"><p class="sites-button inverse">disagree</p></a>
			            </div>
		          	</div>
         		</div>
        	</div>  
     	</div>
    </div>  
</div>



<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>



