<div id="featuredImage" class ="person featured-image__header--image-wrapper">

	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row relative">
		<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
			<a class="breadcrumb__link {{ breadcrumb_color }}" href="/all-people">{{ "back to people"|upper }}</a>
		</div>
	{# hero header #}
		<div class="featured-image__header--text-wrapper person">
			<div class="featured-image__header--text-inner-wrapper person">
				<div class="people__details--outer-wrapper person">
					<div class="people__details--inner-wrapper">
						<div id="my-test-div" class="columns medium-12 large-12 small-12 relative">
							<div id="first--inline--wrapper" class="inline__wrapper person padding__right--50-desktop">
								<div class="table__wrapper person__wrapper">
									<div class="table__inner">
											<img class="people__details person" src="{{ TimberImage(person.image).src }}"/>
									</div>
								</div>
							</div>
							<div id="second--inline--wrapper" class="inline__wrapper person">
								<div class="table__wrapper">
									<div class="table__inner">
										<p class="people__details title__text smaller">
											{{ person.first_name }} {% if person.middle_initial %}{{ person.middle_initial }}. {% endif %} {{ person.last_name }}
										</p>
										{% if person.job_title %}	
											<p class="people__details tag__text">
												{{ person.job_title|upper }}
											</p>
										{% endif %}	
										<span class="people__details list-divider red"></span>
										{% if person.locations|length > 0 %}
											{% for location in person.get_field('locations')%}
												<a class="link inline__link" href="{{TimberPost(location.specific_location).link}}"><p class="people__details inline__text body__text">{{location.specific_location}}</p></a>{% if loop.index > 0 and not loop.last %} |{% endif %}
											{% endfor %}
										{% endif %}
										<p class="people__details body__text">
											{% if person.primary_country_code and person.primary_country_code != '1' %}+{{ person.primary_country_code}}{% else %}+1{% endif %}.{{ person.primary_phone_number }}
										</p>
										{% if person.secondary_phone_number %}
											<p class="people__details body__text">
												{% if person.secondary_country_code and person.secondary_country_code != '1' %}+{{ person.secondary_country_code}}{% else %}+1{% endif %}.{{ person.secondary_phone_number }}
											</p>
										{% endif %}
										{% if person.fax_number %}
											<p class="people__details body__text">
												Fax Number: {% if person.fax_country_code and person.fax_country_code != '1' %}+{{ person.fax_country_code}}{% else %}+1{% endif %}.{{ person.fax_number }}
											</p>
										{% endif %}
										<p class="people__details body__text">
											<a href="mailto:{{person.email}}" class="email--people--link red link inline__link body__text people__details">
												{{ person.email }}
											</a>
										</p>
										<div class="margin-top-20">
												<a class="sites-button" id="download--vcard" href="{{card_url}}" download="{{person.first_name}}_{{person.last_name}}">
													v Card
												</a>
												<a class="sites-button inverse" id="print--page">
													Print
												</a>
										</div>
									</div>	
								</div>	
							</div>	
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		<div class="padding__wrapper ten sides__only">
			<div  class="columns show-for-medium-up medium-3 large-2 relative">
				{% if specialization %}
				    <p class="tag__text">
				    	{{ 'Area of Practice'|upper }}
				    </p>
				    <p class="title__text smaller margin-bottom--20">
						{{ specialization }}
				    </p>
				{% endif %}
				{% if related_experiences|length > 0 %}
				    <p id="related-experience-heading" class="tag__text">
				    	{{ 'related experience'|upper }}
				    </p>
				    {% for item in related_experiences %}
			        		{{item.post_title}}
			        	{% set experience = item|first %}
						<div id="people-sidebar"  class="sidebar__color-block--outer-wrapper {% if loop.index > 4 %}hidden hidden__exp{% endif %}">
							<div class="sidebar__color-block--wrapper">
					        	<a href="{{TimberPost(experience).link}}" class="link black margin__0 tag__text text-align__center">
				    	    		{{ experience.post_title|upper }}
				        		</a>
				        	</div>
						</div>
				    {% endfor %}
					{% if related_experiences|length > 4 %}
					    <a id="showMoreRelatedExperiences" class="more link red tag__text underline" href="#more">
					    	SHOW MORE
					    </a>
				    	<span class="expander"></span>
					{% endif %}    
				{% endif %}    
			</div>
			<div class="columns small-12 medium-9 large-10">
				<div class="title__text">
					{{ "Biography" }}
				</div>
				<div class="body__text ">
					{{ person.post_content }}
				</div>	
				<span class="page__divider grey"></span>
				{# Awards images #}
				{% if person.award_images %}
					<p class="title__text">
						Awards
					</p>
					<div class="row text-align__center">
						{% for award_image in person.get_field('award_images') %}
							<div class="columns small-6 medium-6 large-3 {% if not loop.last %} float-left {% else %} float__none  {% endif %} ">
								{% set award_image = award_image|first %}
								<img src="{{ award_image }}" class="margin-top-20">
							</div>
						{% endfor %}
					</div>	
					<span class="page__divider grey"></span>
				{% endif %}

				{# Representation Matters #}
				{% if person.representation_matters %}
					<p class="title__text">
						Representation
					</p>
					<div class="negative__side-margins--15">
						{% for representation in person.get_field('representation_matters') %}
						<div class="columns small-12 medium-12 large-12">
							<p class="body__text">
								{{representation.header}}		
							</p>
								{% for bullet in representation.representation %}
									{% set bullet = bullet|first %}
									<div class="bullet bullet__primary padding-top-10 padding-bottom-20 representation ">
										<div class="body__text bullet__text">
											{{ bullet }}
										</div>
									</div>	
								{% endfor %}
							</div>
							
						{% endfor %}
					</div>	
				{% endif %}


				{% if person.representation_matters_secondary %}
					<div class="negative__side-margins--15">
						{% for representation in person.get_field('representation_matters_secondary') %}
						<div class="columns small-12 medium-12 large-12">
							<p class="body__text">
								{{representation.secondary_header}}		
							</p>
								{% for bullet in representation.secondary_representation %}
									{% set bullet = bullet|first %}
									<div class="bullet bullet__secondary padding-top-10 padding-bottom-20 representation">
										<div class="body__text bullet__text">
											{{ bullet }}
										</div>
									</div>	
								{% endfor %}
							</div>

						{% endfor %}
					</div>	
				{% endif %}

			</div>
		</div>	
	</div>
</div>	




{% if person.education|length > 0 or person.bar_admission|length > 0 %}	
	<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
		<div class="row padding__wrapper padding-top-20">
			<div class="padding-top-20 padding-bottom-20 large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
				{% if person.education|length > 0 %}
					<div class="columns small-12 medium-6 large-6">
						<p class="title__text">
							{{ "Education" }}
						</p>
						{% for school in person.get_field('education') %}
							{% set school = school|first %}
							<div class="padding-top-10 padding-bottom-10 small-12 medium-12 large-12 bullet">
								<div class="body__text bullet__text">
									{{school}}
								</div>
							</div>	
						{% endfor %}
					</div>	
				{% endif %}
				{% if person.bar_admission|length > 0 %}
					<div class="columns small-12 medium-6 large-6">
						<p class="title__text">
							{{ "Bar Admissions" }}
						</p>
						{% for bar in person.get_field('bar_admission') %}
							{% set bar = bar|first %}							
							<div class="padding-top-10 padding-bottom-10 small-12 medium-12 large-12 bullet">
								<div class="body__text bullet__text">
									{{bar}}
								</div>
							</div>
						{% endfor %}
					</div>	
				{% endif %}
				{% if person.languages|length > 0 %}		
					<div class="columns small-12 medium-6 large-6 float__none">
						<p class="title__text">
							{{ "Languages" }}
						</p>	
						{% for language in person.get_field('languages') %}
							{% set specific_language = language|first %}
							<div class="padding-top-10 padding-bottom-10 small-12 medium-12 large-12 bullet">
										<div class="body__text bullet__text">
											{{specific_language}}
										</div>
							</div>
						{% endfor %}
				</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endif %}




{% if person.publications|length > 0 and person.publications|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set publications = person.get_field('publications') %}
				<table class="margin-top-40 no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Publications" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for publication in publications %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet " colspan="5">
								<div class="body__text bullet__text">{{ publication.publication }}</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.speaking_engagements|length > 0 and person.speaking_engagements|first != 0%}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set speaking_engagements = person.get_field('speaking_engagements') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Speaking Engagements" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for speaking_engagement in speaking_engagements %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ speaking_engagement.engagement }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.future_speaking_engagements|length > 0 and person.future_speaking_engagements|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set future_speaking_engagements_list = person.get_field('future_speaking_engagements') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Future Speaking Engagements" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for future_engagement in future_speaking_engagements_list %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ future_engagement.engagement }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.professional_affiliations|length > 0 and person.professional_affiliations|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set professional_affiliations = person.get_field('professional_affiliations') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Professional Affiliations" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for affiliation in professional_affiliations %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ affiliation.affiliation }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.awards_honors|length > 0 and person.awards_honors|first != 0%}
		<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set awards_honors = person.get_field('awards_honors') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Awards and Honors" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for award in awards_honors %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ award.award_content }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}

{% if person.professional_memberships|length > 0 and person.professional_memberships|first != 0 %}
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set professional_memberships = person.get_field('professional_memberships') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Professional Membership" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for professional_membership in professional_memberships %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ professional_membership.professional_membership }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.community_involvement|length > 0 and person.community_involvement|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set community_involvement = person.get_field('community_involvement') %}
				<table class="no__borders">
					<tr class="gray__underline"> 
						<td class="title__text smaller accordion-trigger">
							{{ "Community Involvement" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for involvement in community_involvement %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ involvement.involvement }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.firm_activities|length > 0 and person.firm_activities|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set firm_activities = person.get_field('firm_activities') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Firm Activities" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for activity in firm_activities %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ activity.activity }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.media_clips|length > 0 and person.media_clips|first != 0 %}	
	<div class="columns small-12 medium-12 large-12">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">	
				{% set media_clips_list = person.get_field('media_clips') %}
				<table class="no__borders">
					<tr class="gray__underline">
						<td class="title__text smaller accordion-trigger">
							{{ "Media Coverage" }}
						</td>
						<td>
							<span class="person__details--expander top__menu accordion" data-show-target="personPublicationDetails" ></span>
						</td>
					</tr>
					{% for clip in media_clips_list %}
						<tr class="hidden hidden__person-publication--details">
							<td class="bullet" colspan="5">
								<div class="body__text bullet__text">
									{{ clip.clips }}
								</div>
							</td>
						</tr>
					{% endfor %}	
				</table>
			</div>	
		</div>
	</div>
{% endif %}	

{% if person.has_alternative_language_page %}	
	<div class="columns small-12 medium-12 large-12 margin-bottom--40 margin-top-40">
		<div class="row">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
				<span>
					{% set link = person.get_field('alternative_language_page_link') %}
					<strong>Please <a href="{{ link }}" class="inline__link link red">click here</a> for full bio in {{person.alternative_language}}</strong>
				</span>
			</div>
		</div>		
	</div>
{% endif %}	



{% include '/template-parts/email-notice.twig' %}

<img class="logo--print--only" src="{{print_logo_url}}">


<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>