<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% set header_text_color = 'black' %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row relative">
		<div class="breadcrumb__wrapper {{ breadcrumb_color }}">
			<a class="breadcrumb__link {{ breadcrumb_color }}" href="/experience">{{ "experience"|upper }}</a> / <a class="breadcrumb__link {{ breadcrumb_color }}" href="/practice">{{ "practice"|upper }}</a>
		</div>
	{# hero header #}
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">

					<h1 class="page__header {{ header_text_color }} {% if practice_header_text == "White Collar Defense & Government Investigations"  %} reduced--size {% endif %}">
						{{ practice_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="row">
	<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
		<div class="columns show-for-medium-up medium-3 large-2 relative">
			{% if headlines|length >= 1 %}
			    <p class="tag__text">
			    	{{ 'headlines'|upper }}
			    </p>
			    {% for headline in headlines %}
	        		{% if headline.has_external_link %}
			        	<a href="{{ headline.external_link}}" class="red link tag__text">
			        		{{ headline.external_title|upper }}
			        	</a>
			        	<br>
        			{% else %}
		        		{% set headline =  headline|first %}
			        	<a href="{{TimberPost(headline).link}}" class="red link tag__text">
			        		{{ headline.post_title|upper }}
			        	</a>
			        	<br>
	        		{% endif %}
			    {% endfor %}
			{% endif %}
			{% if headline_files|length >= 1 %}
			    {% for headline in headline_files %}
		        	<a target="_blank" href="{{ headline.headline_file_link }}" class="red link tag__text link tag__text">
		        		{{ headline.headline_file_title|upper }}
		        	</a>
		        	<br>
			    {% endfor %}
			{% endif %}
			{% if related_experience %}
			    <p class="tag__text">
			    	{{ 'related experience'|upper }}
			    </p>
			    {% for item in related_experience %}
		        	{% set experience =  item|first %}
					<div class="sidebar__color-block--outer-wrapper {% if loop.index > 5%}hidden hidden__exp{% endif %}">
						<div class="sidebar__color-block--wrapper">
				        	<a href="{{TimberPost(experience).link}}" class="link margin__0 tag__text text-align__center">
			    	    		{{ experience.post_title|upper }}
			        		</a>
			        	</div>
					</div>
			    {% endfor %}
			    <a id="showMoreRelatedExperiences" class="more link red tag__text underline" href="#more">
			    	SHOW MORE
			    </a>
			    <span class="expander"></span>
			{% endif %}    
		</div>
		<div class="columns small-12 medium-9 large-10">
			<div class="padding__wrapper forty sides__only">
				<div class="title__text ">
					{{ text_content_top }}
				</div>
			</div>
			<div class="padding__wrapper forty sides__only">
				<div class="body__text ">
					{{ post.post_content }}
				</div>	
			</div>
			<div class="padding__wrapper forty sides__only">
				<span class="page__divider grey"></span>
			</div>
			<div class="paddforty sides__only">
				{% if practice_group_leaders %}
					<div class="title__text ">
						{{ practice_header_text }} Group Leaders
					</div>
			    	{% for leader in practice_group_leaders %}
			    		{% set leader = leader|first %}
						<div class="columns medium-12 large-6 small-12 margin-bottom--20 end {% if practice_group_leaders|length == 1 %} float__none {% endif %}">
							<div class="columns medium-6 large-6 small-12">
								<div class ="people__image__container">
									<img class="people__details" src="{{ TimberImage(leader.image).src }}" />
								</div>
							</div>
							<div class="columns medium-6 large-6 small-12">
								<div class="people__details--outer-wrapper">
									<div class="people__details--inner-wrapper">
										<a class="link" href="{{TimberPost(leader).link}}">
										<p class="people__details title__text smaller">
											{{ leader.first_name }} {% if leader.middle_initial %}{{ leader.middle_initial }}. {% endif %} {{ leader.last_name }}
										</p>
									</a>
										{% if leader.title %}	
											<p class="people__details tag__text">
												{{ leader.title|upper }}
											</p>
										{% endif %}	
										<span class="people__details list-divider red"></span>
										<p class="people__details body__text">
											{{ leader.primary_city }}, {{ leader.primary_state }}{% if leader.secondary_city and leader.secondary_state %} | {{ leader.secondary_city }}, {{ leader.secondary_state}} {% endif %} 
										</p>
										<p class="people__details body__text">
											{% if leader.primary_country_code and leader.primary_country_code != '1' %}+{{ leader.primary_country_code}}{% else %}+1{% endif %}.{{ leader.primary_phone_number }}
										</p>
										{% if leader.secondary_phone_number %}
											<p class="people__details body__text">
												{% if leader.secondary_country_code and leader.secondary_country_code != '1' %}+{{ leader.secondary_country_code}}{% else %}+1{% endif %}.{{ leader.secondary_phone_number }}
											</p>
										{% endif %}
										<a href="mailto: {{ leader.email }}" class="email--people--link red link inline__link body__text people__details">											
												{{ leader.email }}
										</a>
									</div>
								</div>	
							</div>
						</div>
					{% endfor %}					
				{% endif %}
			</div>
			{% if contact_us|length > 0 %}	
				<div style="padding: 0 40px; clear: both;">
					<p class="title__text">
						Contact Us
					</p>
					{% for contact in contact_us %}
						{% set contact = contact|first %}
						<div class="columns medium-6 large-6 small-12 person end">						
							<a class="body__text red link margin-bottom--10" href="{{ TimberPost(contact).link }}">
								{{ contact.first_name }} {% if contact.middle_initial %}{{ contact.middle_initial }}. {% endif %} {{ contact.last_name }}
							</a>
						</div>	
					{% endfor %}
				</div>
			{% endif %}	
			{% if related_people|length > 0 %}	
				<div style="padding: 0 40px; clear: both;">
					<p class="title__text">
						Related People
					</p>
					{% for person in related_people %}
						{% set person = person|first %}
						<div class="columns medium-6 large-6 small-12 person end">						
							<a class="body__text red link margin-bottom--10" href="{{ TimberPost(person).link }}">
								{{ person.first_name }} {% if person.middle_initial %}{{ person.middle_initial }}. {% endif %} {{ person.last_name }}
							</a>
						</div>	
					{% endfor %}
				</div>
			{% endif %}	
		</div>
	</div>
</div>	
{% if services|length > 0%}	
	<div class="grey__background experience__wrapper columns small-12 medium-12 large-12">
		<div class="row padding__wrapper top-and-bottom sixty">
			<div class="large-offset-2 medium-offset-3 columns large-10 medium-9 small-12">
				<div class="padding__wrapper forty sides__only">
					<p class="title__text">
						{{ services_header }}
					</p>
					{% for service in services %}
						{% set service = service|first %}
						<div class="columns medium-6 large-6 small-12 service">
							<div class="body__text service__text">
								{{service}}
							</div>
						</div>	
					{% endfor %}
				</div>	
			</div>
		</div>
	</div>
{% endif %}



<div id="emailModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper email__modal">
		            <p class="title__text text-align__center">
		              Notice
		            </p>
		            <p class="modal__text">
		              You understand and agree that transmitting information to Brown Rudnick by e-mail does not establish an attorney-client relationship. By clicking the "Agree" link below, you acknowledge that (i) Brown Rudnick has no obligation to maintain the confidentiality of any information you submit to Brown Rudnick unless Brown Rudnick already represents you or Brown Rudnick later agrees to represent you; thus, if you are not a client, information you submit to Brown Rudnick by e-mail may be disclosed to others and (ii) you have read and understand the Brown Rudnick Terms of Use and Privacy Policy and that you agree to be bound by the terms and conditions of such Terms of Use and Privacy Policy.
		            </p>
		            <p class="modal__text">
		            	If you would like to discuss becoming a client, please contact one of Brown Rudnick's attorneys to arrange for a meeting or telephone conference. Thank you for your interest in Brown Rudnick.
		            </p>
		            <div class="email-buttons">
			            <div class="div__half">
			            	<a id="email-modal-close"><p class="sites-button">agree</p></a>
			          	</div>
			            <div class="div__half ">
			            	<a id="no-email-modal-close"><p class="sites-button inverse">disagree</p></a>
			            </div>
		          	</div>
         		</div>
        	</div>  
     	</div>
    </div>  
</div>


<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>