<div id="featuredImage" class ="featured-image__header--image-wrapper">

	{% if featured_image_url %}
		{% set header_text_color = "white" %}
	{% else %}
		{% set header_text_color = "black" %}
	{% endif %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<h1 class="page__header {{ header_text_color }}">
					{{ practice_header_text }}
				</h1>
				<span class="slide-description-heading red">
				</span>
			</div>
		</div>	
	</div>
</div>	
	{# body - with sidebar #}
<div class="experience__wrapper row body__wrapper columns small-12 medium-12 large-12">
	<div class="padding__wrapper ten sides__only">
		<div class="columns show-for-medium-up medium-3 large-2">
			<div class="padding__wrapper ten sides__only">
				<h4 class="red title__text smaller">
					{{ practice_sidebar_header }}
				</h4>
				<span class="list-divider"></span>
			    {% for sidebar_item in practice_sidebar_items %}
			    	<a class="{% if sidebar_item.practice_sidebar_item_text|upper == 'PRACTICE' %}red{% endif %} link sidebar__link" href="{{ sidebar_item.practice_sidebar_item_link }}">
			    		{{ sidebar_item.practice_sidebar_item_text|upper }}
			    	</a>
			    {% endfor %}
			</div>
		</div>
		<div class="columns show-for-medium-up medium-9 large-10">
			<div class="row">
				{% for practice in practices %}
					<div class="columns large-4 medium-4 x-large-4 small-12 {% if loop.last %}last float-left{% endif %}">
						<div class="color-block__experience">
							<div class="color-block__experience--inner-wrapper">
								<div class="experience__link--wrapper">
									<a class="link experience__link text-align__center" href="{{ practice._permalink }}">
										{{ practice.title }}
									</a>
								</div>	
							</div>
						</div>	
					</div>	
				{% endfor %}
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>