<div id="featuredImage" class ="featured-image__header--image-wrapper" >
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>


{# body - with sidebar #}
<div class="row white-row relative z-index__1">
	<div class="row careers__wrapper body__wrapper columns small-12 medium-12 large-12">
		{% include '/twig-templates/sidebar.twig' with sidebar %}
		<div class="columns small-12 medium-9 large-10 float--right relative">
			<div class="columns small-12 medium-12 large-12 relative">
				<p class="title__text">
					{{ main_body_title }}
				</p>
				<p class="body__text">
					{{ first_paragraph }}
				</p>
				<p class="body__text">
					{{ second_paragraph }}
				</p>
				<p class="body__text">
					{{ third_paragraph }}
				</p>
		</div>
		<div class="full-width-grey">
			<div class="experience__wrapper columns small-12 medium-12 large-12 margin-top-60">
				<div class="row padding__wrapper top-and-bottom">
					<div class="columns">
						<p class="title__text">
							{{ highlights_title }}
						</p>
						<div class="bullets inline__text">
							{% for item in highlights %}
								<div class="bullet bullet__full-width">
									<div class="body__text bullet__text">
										{{item.highlight}}
									</div>
								</div>	
							{% endfor %}
						</div>	
						{{ features_bottom_text }}
						<p class="body__text roman">
							{{ bullet_section_bottom_content }}
						</p>
						<p class="body__text smaller italic">
							{{ bullet_section_notice }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>