<div id="featuredImage" class ="featured-image__header--image-wrapper" >
	{% set header_text_color = "black" %}
	{# hero header #}
	<div class="featured-image__header--text-outer-wrapper row">
		<div class="featured-image__header--text-wrapper">
			<div class="featured-image__header--text-inner-wrapper">
				<div class="color__block vellum">
					<h1 class="page__header {{ header_text_color }}">
						{{ pub_request_header_text }}
					</h1>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row relative z-index__1 padding-bottom-60 padding-top-60">
	<div class="columns small-12 medium-12 large-12 x-large-12">
		<div class="row">
			<p>{{pub_request_excerpt}} </p>
			<p>Please fill in the following form to complete your request:</p>
		</div>
	</div>
</div>

<div class="row relative z-index__1 padding-bottom-60">
	<div class="columns small-12 medium-12 large-12 x-large-12">
		<div class="row">
			{{ post.post_content|shortcodes }}
		</div>
	</div>
</div>

{% include '/template-parts/redirect-notice.twig' %}

<script type="text/javascript">
	{% if featured_image_url %}
		$(document).ready(function(){
			$('#featuredImage').backstretch("{{featured_image_url}}");
		})
	{% endif %}
</script>