{% do action( 'foundationpress_before_content' ) %}

<div class = "slider-container" label="Latest Updates from Brown Rudnick" > 
    {% for item in post.get_field('homepage_slider') %}
        <!-- slide -->
        <div class="slide" style="background-image:url({{item.homepage_slider_image.url}});">
         	<div class="slide__content--outer-wrapper">
         		<div class="slide__content--inner-wrapper">
					<div class="color-block__wrapper homepage--slider large-8 medium-10 small-12">
				        <div class="color-block vellum">
				         	<div class="slide-description">
				            	<h2 class="homepage-slider-title">{{item.homepage_slider_title}}</h2>
				            	<div class="slide-description-heading"></div>
				            	<p class="body-text hero">
						    				{{ item.homepage_slider_description | truncate(60) }}
						        	</p>
			            </div>				        	
				        	<div class="home-button-container">
				        		<a href="{{item.homepage_slider_cta_link}}">
					        		<button class="home-button sites-button">
					        			{{ item.homepage_slider_cta_text }}
					    				</button>
				    				</a>
				    			</div> 
									
									<div class="arrows-container"> 
									 	<p class="prev-slider-home">
										 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.22 31"><title>arrow left</title><g id="Layer_2" data-name="Layer 2"><g id="Isolation_Mode" data-name="Isolation Mode"><line class="arrows-svg" x1="1.5" y1="15.5" x2="35.72" y2="15.5"/><polyline class="arrows-svg" points="15.5 29.5 1.5 15.5 15.5 1.5"/></g></g></svg>
									 	</p>
										<p class="next-slider-home">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.22 31"><title>arrow right</title><g id="Layer_2" data-name="Layer 2"><g id="Isolation_Mode" data-name="Isolation Mode"><line class="arrows-svg" x1="35.72" y1="15.5" x2="1.5" y2="15.5"/><polyline class="arrows-svg" points="21.72 1.5 35.72 15.5 21.72 29.5"/></g></g></svg>
											</p>
										</div>   	
				        </div> 	
					</div>
		        </div>
		    </div>      
    	</div>
    {% endfor %}
</div>	
<div class="slider-svg">
	<svg id="slider-svg" xmlns="http://www.w3.org/2000/svg" class="slider_svg" viewBox="0 0 180 180">
</div>

   
{% do action( 'foundationpress_after_content' ) %}
{{wp_footer}}

